<a href="https://colab.research.google.com/github/smsmorsalin/python/blob/main/assignment/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#practice problem

**Question 1**:

Print your name, student id, email address, section and course id as follows

    my name:
    student id:
    email:
    section:
    course id:

In [ ]:
# Write your code here
print("""My name: S. M. S. Morsalin
student id: 2411872
email: 2411872@iub.edu.bd
section: 03
course id: CSE100L
""")

#step by step work
print('my name:', 'S. M. S. Morsalin')
print('student id:', 2411872)
print('email:', '2411872@iub.edu.bd')
print('section:', '03')
print('course id:', 'CSE100L')

My name: S. M. S. Morsalin
student id: 2411872
email: 2411872@iub.edu.bd
section: 03
course id: CSE100L

my name: S. M. S. Morsalin
student id: 2411872
email: 2411872@iub.edu.bd
section: 03
course id: CSE100L

**Question 2**:

Use five variables to store your name, student id, email address, section and course id and then print them using five print() statements

In [ ]:
from os import name
# Write your code here
your_name = "S. M. S. Morsalin"
student_id = "2411872"
email = "2411872@iub.edu.bd"
section = "03"
course_id = "CSE100L"
print(f"My name: {your_name}")
print(f"student id: {student_id}")
print(f"email: {email}")
print(f"section: {section}")
print(f"course id: {course_id}")

#step by step work
name = 'Morsalin'
student_id = 2411872
email = '2411872@iub.edu.bd'
section = '03'
course_id = 'CSE100L'
print('My name:', name)
name = 'S. M. S. Morsalin'
print('My name:', name)
print('student id:', student_id)
print('email:', email)
print('section:', section)
print('course id:', course_id)

My name: S. M. S. Morsalin
student id: 2411872
email: 2411872@iub.edu.bd
section: 03
course id: CSE100L
My name: Morsalin
My name: S. M. S. Morsalin
student id: 2411872
email: 2411872@iub.edu.bd
section: 03
course id: CSE100L

**Question 3**:

Use three variables to store your student id, course name, CGPA and then print them using single print() statement. The print will be exactly is follows:

    Student id:
    Course name:
    Student CGPA:

In [ ]:
# Write your code here
student_id = 2411872
course_name = "CSE100L"
student_CGPA = 4.00
print(f"Student id: {student_id} \nCourse name: {course_name} \nStudent_CGPA: {student_CGPA}")

Student id: 2411872
Course name: CSE100L
Student_CGPA: 4.0

## **Question 3**:

Declare four variables of four different types.Then print their values and data types.

In [ ]:
from re import A
# Write your code here
var1 = 1
var2 = 'A'
var3 = 1.5
var4 = True
print(type(var1), type(var2), type(var3), type(var4))

#mam step by step
name = 'sms'
num = 3
f = 3.5
boolean = True

#method_1
type(name)
type(num)
type(f)
type(boolean)      #only last call will be show the type

#method_2
type_name = type(name)
print(type_name)
type_num = type(num)
print(type_num)
type_f = type(f)
print(type_f)
type_boolean = type(boolean)
print(type_boolean)

#method_3
print(type(name), type(num), type(f), type(boolean))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

**Question 4**:

For the following variables check and print their data types

```python
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j

# Print the datatype for name

# Print the datatype for CGPA

# Print the datatype for age

# Print the datatype for w
```

In [ ]:
# Write your code here
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j
print(type(name), type(CGPA), type(age), type(w))

<class 'str'> <class 'float'> <class 'int'> <class 'complex'>

**Question 5:**

Using a single assignment operator assign the values 7, 8.91, 'Jonny Jonny Yes Pappa' and 'This is 2023 Summer' to 4 different variables. Then print their values.print type of variable

In [ ]:
# Write your code here
a, b, c, d = 7, 8.91, 'Jonny Jonny Yes Pappa', 'This is 2023 Summer'
print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

7 8.91 Jonny Jonny Yes Pappa This is 2023 Summer
<class 'int'> <class 'float'> <class 'str'> <class 'str'>

**Question 6**:
* Take two numbers as input from the user and store them in two variables, a and b.
* Add the two numbers and store the result in another varibale c (i.e., c = a + b)
* Print the result formatteed as follows: a + b = c

In [ ]:
# Write your code here
a = float(input('Write the first number here '))
b = float(input('Write the second number here '))
c = a + b
print(a, '+', b, '=', c)

Write the first number here 6
Write the second number here 5
6.0 + 5.0 = 11.0

**Question 7**:

a. Take two integer values as input from the user.

b. Print the output of (1) division, (2) floor division, (3) Exponent of the two integers.

In [ ]:
# Write your code here
#erethmetic operation
#(+, -, *, /)
#floor division (//)
#exponent (**)
#string (+) = concatination  A + B = AB
#integer (+)  2+3=5   3+2=5
#string and Int (+)    "s" * 3 = sss
# int(input(22)) forcefully variable type changing called type casting

a = input('enter an integar: ')
b = input('enter another intergar: ')
c = a + b
print(c)

#type casting
a = int(input('enter an integar: '))
b = int(input('enter another intergar: '))
a = int(a)
b = int(b)
c = a + b
print(a, '+', b, '=', c)

enter an integar: 5
enter another intergar: 5
55
enter an integar: 5
enter another intergar: 5
5 + 5 = 10

** *italicized text*Question 8**:

Take two numbers as input. Check and print whether they are equal to or not.

In [ ]:
# Write your code here
a = int(input('Enter an Intiger: '))
b = int(input('Enter another Intiger: '))
if  a==b:
  print('They are equal')
else:
  print('They are not equal')

Enter an Intiger: 7
Enter another Intiger: 9
They are not equal

**Question 9**:

Write a program to take two numbers from console. Now swap the numbers.

In [ ]:
# Write your code here
#method_1
a = 4
b = 3
print(a, b)
temp = a
a = b
b = temp
print(a, b)

#method_2
a = 5
b = 6
print(a, b)
a, b = b, a
print(a, b)

4 3
3 4
5 6
6 5

**Question 10**:

Write a program that prints a multiplication table for numbers up to 10

In [ ]:
# Write your code here

**Question 11**:

Write a program that calculates the perimeter of a rectangle given its length and width. Your program should:

* Take input from the user for the length and width of the rectangle.
* Use the formula: Area = length * width
* Display the calculated area upto 4 decimal point

In [ ]:
# Write your code here
length = float(input('write the length here '))
width = float(input('write the width here '))
area = length * width
Area = format(area, '.4f')
print('The are is: ', Area)

write the length here 5
write the width here 65
The are is:  325.0000

**Question 12**:

Write a program that calculates the circumference of a circle given its radius. Your program should:

* Take input from the user for the radius of the circle.
* Declare the value of pi with value of 3.1416
* Use the formula: Area = 2 * pi * r
* Display the calculated area upto 4 decimal point

In [ ]:
# Write your code here
r = float(input('enter the radius: '))
pi = 3.1416
area = 2 * pi * r
print(area)

# round
area1 = round(area, 4)
print(area1)
print(type(area1))

#format
#Method_1
area2 = "{:.4f}".format(area)
print(area2)
print(type(area2))

#method_2
area3 = format(area, '.4f')
print(area3)
print(type(area3))
print(type(area3))

enter the radius: 5
31.416
31.416
<class 'float'>
31.4160
<class 'str'>
31.4160
<class 'str'>
<class 'str'>

**Question 13**:

Write a program that takes a temperature in Celsius as input and prints its equivalent in Fahrenheit. Your program should:

* Take input from the user for the Celsius.
* Use the formula: Fahrenheit = (Celsius × 9/5) + 32
* Display the calculated Fahrenheit upto 4 decimal point

In [ ]:
# Write your code here
celsius = float(input('write the temperature in celsius: '))
fahrenheit = (celsius * 9/5) + 32
Fahrenheit = format(fahrenheit, '.4f')
print('The Fahrenheit is: ', Fahrenheit, '°F')

write the temperature in celsius: 35
The Fahrenheit is:  95.0000 °F

**Question 14**:

Write a program that takes a number of cigarettes smoked per day as input and calculates and prints the total number of cigarettes smoked in a year.

In [ ]:
# Write your code here
cigarettes_perday = int(input('How many cigarettes you smoked per day: '))
cigarettes_peryear = cigarettes_perday * 365   #1 year = 365 days
print('The total number of cigarettes smoked in a year is: ', cigarettes_peryear)

How many cigarettes you smoked per day: 85
The total number of cigarettes smoked in a year is:  31025

**Question 15**:

Write a program that takes a person's height in feet as input and calculates and prints their height in meters

In [ ]:
# Write your code here

# **THE END**

#operation

In [ ]:
# x = 5 ==5
# print(x)

# y= True and True
# print(y)
# comparison
# ==
# !=
# >
# <
# >=
# <=

# #logical
# and
# or
# not

# #bitwise
# &
# |
# ^

# #membership
# in
# not in

# #identity
# is
# is not

# #assignment
# =
# +=
# -=
# *=
# /=
# %=
# //=
# **=
# &=
# |=
# ^=
# >>=
# <<=


# how and use

# T and t = T
# T and f = f
# f and t = f
# f and f = f

# how or work

# T or t = T
# T or f = T
# f or t = T
# f or f = f

# how not work
# not T = F
# not f = T

# intentation (mark as a space)
# If you use If else function you should use indentation/ space in 2nd line

#if

In [ ]:
# basic strcture of if
# if condition:
#   print()     ---must need to add space---
# else:
#   print()     ---must need to add space---



#and
x = int(input('enter a number: '))
if x >=50 and x<=60:
  print('x is between 50 and 60')
else:
  print('x is not between 50 and 60')

  y = int(input('enter a number: '))
  if y >=0  and  y<=20:
    print('y is between 0 and 20')
  elif y >=20 and y<=40:
    print('y is not between 0 and 20')

enter a number: 50
x is between 50 and 60

In [ ]:
#or

In [ ]:
#not

***if if/ elif/ if else condition***

In [ ]:
5
if n1>n2 and n1>n3:
  print('n1 is the largest number')
elif n2>n1 and n2>n3:
  print('n2 is the largest number')
else:
  print('n3 is the largest number')

enter a number: 6
enter a number: 5
enter a number: 5475
n3 is the largest number

In [ ]:
n1 = int(input('enter a number: '))
n2 = int(input('enter a number: '))
n3 = int(input('enter a number: '))
if n1>n2 and n1>n3:
  print('n1 is the largest number')
if n2>n1 and n2>n3:
  print('n2 is the largest number')
if n3>n1 and n3>n2:
  print('n3 is the largest number')

enter a number: 58
enter a number: 45
enter a number: 54
n1 is the largest number

if else er better solution for result creating
python metch-case