<a href="https://colab.research.google.com/github/smsmorsalin/python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A1. Python journy start with the basic.play with Print

In [ ]:
print("My Name is S. M. S. Morsalin")

My Name is S. M. S. Morsalin

#A2. Separate Line Printing

In [ ]:
print ('''IUB
CSE''')

IUB
CSE

In [ ]:
print("Morsalin\nIUB")

Morsalin
IUB

*true false output in python*

In [ ]:
print(5 > 5)

False

#A3. *Introduction* of a variable

In [ ]:
first_name = "S.M.S. "
last_name  =  "Morsalin"
print("first name is ", first_name)
print("last name is ", last_name)
print ('full name', first_name, last_name)

first name is  S.M.S.
last name is  Morsalin
full name S.M.S.  Morsalin

In [ ]:
first_name = "S.M.S. "
last_name  =  "Morsalin"
print("first name is ", first_name, "\nlast name is ", last_name)

first name is  S.M.S.
last name is  Morsalin

In [ ]:
first_name = "S.M.S. "
last_name  =  "Morsalin"
print(f"first name is {first_name} \nlast name is {last_name}")
print(f'full name {first_name}{last_name}')

first name is S.M.S.
last name is Morsalin
full name S.M.S. Morsalin

In [ ]:
myVariableName = "John"     #Camel Case
MyVariableName = "John"     #Pascal Case
my_variable_name = "John"   #Snake Case

In [ ]:
#allows us to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#we can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#If we have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#Output Variables
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

#or
#can also use the + operator to output multiple variables:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome
Python is awesome

In [ ]:
#comma vs +

#comma auto print space
a = 'Hello'
b = 'World'
print(a , b)

# +  doesn't print any space we need  to manually enter it in variable section
a = 'Hello'
b = 'World'
print(a + b)

Hello World
HelloWorld

In [ ]:
#error
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "5"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = "2"
b = a * 2
print(b*2)

2222

#A4. Practice Problems_01:

1. write a program which will create necessary variables and show the output of your full name, Student ID and your department **in the same line.**
2. write a program which will create necessary variables and show the output of your full name, Student ID and your department **in separate lines**.

In [ ]:
first_name = "S.M.S. "
last_name  =  "Morsalin"
student_ID = 2411872
department = "CSE"
print(f"My Full name is {first_name}{last_name} student ID is {student_ID} department is {department}")

My Full name is S.M.S. Morsalin student ID is 2411872 department is CSE

In [ ]:
first_name = "S.M.S. "
last_name  =  "Morsalin"
student_ID = "2411872"
department = "CSE"
print("My Full name is", first_name + last_name, "\nstudent ID is",student_ID, "\ndepartment is", department)

My Full name is S.M.S. Morsalin
student ID is 2411872
department is CSE

#A5. Play with input

In [ ]:
first_name = input("write  your first name here ")
last_name = input("Write your last name here ")
print ('My first name is',first_name)
print ('My last name is', last_name)
print (f'My full name is {first_name} {last_name}')
print('full name',first_name, last_name)

write  your first name here sms
Write your last name here morsalin
My first name is sms
My last name is morsalin
My full name is sms morsalin
full name sms morsalin

#A6. Variable Type
str, int, float

Calculate the area by multiplying the length and width

In [ ]:
lenth = float(input('Write the lenth here '))
width = float(input('Write the width here '))
area = lenth * width
print(f'The area is {area}')

Write the lenth here 6
Write the width here 9
The area is 54.0

In [ ]:
# Built-in Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [ ]:
#Print the data type of the variable x:

x = 5
print(type(x))

In [ ]:
#Setting the Data Type

x = "Hello World"	str
x = 20	int
x = 20.5	float
x = 1j	complex
x = ["apple", "banana", "cherry"]	list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	NoneType

In [ ]:
#Setting the Specific Data Type

x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview

In [ ]:
#float

y = 12E4
print(type(y))

<class 'float'>

#A7. practice problem_02
1. Make a simple calculator for two numbers. Take two numbers as input and print the result of simple arithmetic between them. i.e. a+b, a-b, a*b, a/b

In [ ]:
Num_1 = int(input('Write the first number here '))
Num_2 = int(input('Write the second number here '))
print(f'The addition is {Num_1 + Num_2}')
print(f'The subtraction is {Num_1 - Num_2}')
print(f'The multiplication is {Num_1 * Num_2}')
print(f'The division is {Num_1 / Num_2}')

Write the first number here 11
Write the second number here 55
The addition is 66
The subtraction is -44
The multiplication is 605
The division is 0.2

2. Input two number and find the quotient & divison result

In [ ]:
num1 = float(input('Write the first number here '))
num2 = float(input('Write the second number here '))
print(f'The division result is {num1 / num2}')
print(f'The reminder result is {num1 % num2}')

Write the first number here 5
Write the second number here 5
The division result is 1.0
The quotient result is 0.0

3. Consider a variable name phi and the value of it 3.14. Now input the radius of a cricle (it may be float number). Find threa of the circle ue apto 4 decimal points.
Consider the following equation for Area,
$Area = phi*(radius)^2$

In [ ]:
phi = float(3.14)
radius = float(input('Write the radius here '))
area = phi * (radius ** 2)  #we can also use (radius * radius)
print(f'The area is {area}')

Write the radius here 5
The area is 78.5

4. Write a program that takes 5 numbers as input. Display the following information:

a. Sum of the numbers
b. Average of the numbers
c. The quotient of the first number divided by the fifth number
d. The product of the second number with the fourth number divided by the third number

method_1:

In [ ]:
num1 = float(input('Write the first number here '))
num2 = float(input('Write the second number here '))
num3 = float(input('Write the third number here '))
num4 = float(input('Write the fourth number here '))
num5 = float(input('Write the fifth number here '))
print(f'The sum of the numbers is {num1 + num2 + num3 + num4 + num5}')
print(f'The average of the numbers is {(num1 + num2 + num3 + num4 + num5) / 5}')
print(f'The quotient of the first number divided by the fifth number is {num1 / num5}')
print(f'The product of the second number with the fourth number divided by the third number is {(num2 * num4) / num3}')

Write the first number here 1
Write the second number here 2
Write the third number here 3
Write the fourth number here 4
Write the fifth number here 5
The sum of the numbers is 15.0
The average of the numbers is 3.0
The quotient of the first number divided by the fifth number is 0.2
The product of the second number with the fourth number divided by the third number is 2.6666666666666665

Method_2:

In [ ]:
num1 = float(input('Write the first number here '))
num2 = float(input('Write the second number here '))
num3 = float(input('Write the third number here '))
num4 = float(input('Write the fourth number here '))
num5 = float(input('Write the fifth number here '))
sum = num1 + num2 + num3 + num4 + num5
print('The sum of the total number is', sum)
average = sum / 5
print('The average of the total number is', average)
quatient = num1 / num5
print('The quotient of the first number divided by the fifth number is', quatient)
product = (num2 * num4) / num3
print('The product of the second number with the fourth number divided by the third number is', product)

#Follow this method. Never do calculations inside the print function

Write the first number here 1
Write the second number here 2
Write the third number here 3
Write the fourth number here 4
Write the fifth number here 5
The sum of the total number is 15.0
The average of the total number is 3.0
The quotient of the first number divided by the fifth number is 0.2
The product of the second number with the fourth number divided by the third number is 2.6666666666666665

#A8. CSE100_Lab Practice problem Prog1_IO_arith

Question 1:

Print your name, student id, email address, section and course id as follows


```
my name:
student id:
email:
section:
course id:
```

In [ ]:
print('My name is: ', 'S. M. S. Morsalin')
print('My student id is: ', 2411872)
print('My email is: ', '2411872@iub.edu.bd')
print('My section is: ', '03')
print('My course id is: ', 'CSE100_Lab')

My name is:  S. M. S. Morsalin
My student id is:  2411872
My email is:  2411872@iub.edu.bd
My section is:  03
My course id is:  CSE100_Lab

**Question 2**:

Use five variables to store your name, student id, email address, section and course id and then print them using five print() statements

In [ ]:
My_name = 'S. M. S. Morsalin'
student_id = '2411872'
email = '2411872@iub.edu.bd'
secton = '03'
course_id = 'CSE100_Lab'

print('My name is: ', My_name)
print('My student id is: ', student_id)
print('My email is: ', email)
print('My section is: ', section)
print('My course id is: ', course_id)

My name is:  S. M. S. Morsalin
My student id is:  2411872
My email is:  2411872@iub.edu.bd
My section is:  03
My course id is:  CSE100_Lab

**Question 3**:

Use three variables to store your student id, course name, CGPA and then print them using single print() statement. The print will be exactly is follows:

    Student id:
    Course name:
    Student CGPA:

In [ ]:
student_id = 2411872
course_name = 'CSE100_lab'
student_cgpa =  4.0
print('Student ID : ', student_id, '\nCourse Name', course_name, '\nstudent_CGPA: ', student_cgpa)

Student ID :  2411872
Course Name CSE100_lab
student_CGPA:  4.0

**Question 4**:

Declare four variables of four different types.Then print their values and data types.

In [ ]:
A = 'ABCD'
B =  1234
C  = 123.45
D = True
print(A, type(A))
print(B, type(B))
print(C, type(C))
print(D, type(D))

.....................................................
ABCD <class 'str'>
1234 <class 'int'>
123.45 <class 'float'>
True <class 'bool'>

**Question 5**:

For the following variables check and print their data types

```
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j

Print the datatype for name

Print the datatype for CGPA

Print the datatype for age

Print the datatype for w
```

In [ ]:
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j
print(type(name), type(CGPA), type(age), type(w))

<class 'str'> <class 'float'> <class 'int'> <class 'complex'>

**Question 6:**

Using a single assignment operator assign the values 7, 8.91, 'Jonny Jonny Yes Pappa' and 'This is 2023 Summer' to 4 different variables. Then print their values.print type of variable

In [ ]:
a, b, c, d = 7, 8.91, 'Jonny Jonny Yes Pappa', 'This is 2023 Summer'
print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

7 8.91 Jonny Jonny Yes Pappa This is 2023 Summer
<class 'int'> <class 'float'> <class 'str'> <class 'str'>

**Question 7**:
* Take two numbers as input from the user and store them in two variables, a and b.
* Add the two numbers and store the result in another varibale c (i.e., c = a + b)
* Print the result formatteed as follows: a + b = **c**

In [ ]:
a = float(input('Write the first number here '))
b = float(input('Write the second number here '))
c = a + b

#method_1
print(f'{a} + {b} = {c}')

#method_2
print(a, '+', b, '=', c)

Write the first number here 6
Write the second number here 6
6.0 + 6.0 = 12.0
6.0 + 6.0 = 12.0

**Question 8**:

a. Take two integer values as input from the user.

b. Print the output of (1) division, (2) floor division, (3) Exponent of the two integers.

In [ ]:
#erethmetic operation
#(+, -, *, /)
#floor division (//)
#exponent (**)
#string (+) concatination  A + B = AB
#integer (+)  2+3=5   3+2=5
#string and Int (+)    "s" * 3 = sss
# int(input(22)) forcefully variable type changing called type casting

a =  int(input('Write the first number here '))
b =  int(input('Write the second number here '))
division = a / b
floor_division = a // b
exponent = a ** b
print('the division is', division)
print('the floor division is', floor_division)
print('the exponent is', exponent)

Write the first number here 6
Write the second number here 6
the division is 1.0
the floor division is 1
the exponent is 46656

**Question 9**:

Take two numbers as input. Check and print whether they are equal to or not

In [ ]:
#we already did if else rules in C (12 class)
a = int(input('Enter an Intiger: '))
b = int(input('Enter another Intiger: '))
if  a==b:
  print('They are equal')
else:
  print('They are not equal')

**Question 10**:

Write a program to take two numbers from console. Now swap the numbers.

In [ ]:
#method_1
a = 4
b = 3
print(a, b)
temp = a
a = b
b = temp
print(a, b)

#method_2
a = 5
b = 6
print(a, b)
a, b = b, a
#this won't work for most of the programming language. So better using method 1.
#also, there's another way to do this without using the 3rd/temp variable with just addition and subtraction operations. Can you find that?
print(a, b)

4 3
3 4
5 6
6 5

**Question 11 **:

Write a program that prints a multiplication table for numbers up to 10

In [ ]:
#I think this could be solve by if rules
#No, we expectred you to manuslly write those equations like below
print('1 * 1 = 1')
print('1 * 2 = 2')
print('1 * 3 = 3')
print('1 * 4 = 4')
print('1 * 5 = 5')

**Question 12**:

Write a program that calculates the perimeter of a rectangle given its length and width. Your program should:

* Take input from the user for the length and width of the rectangle.
* Use the formula: Area = length * width
* Display the calculated area upto 4 decimal point

In [ ]:
length = float(input('write the length here '))
width = float(input('write the width here '))
area = length * width
Area = format(area, '.4f')
print('The are is: ', Area)

write the length here 6
write the width here 7
The are is:  42.0000

Question 13:

Write a program that calculates the circumference of a circle given its radius. Your program should:

Take input from the user for the radius of the circle.
Declare the value of pi with value of 3.1416
Use the formula: Area = 2 * pi * r
Display the calculated area upto 4 decimal point

In [ ]:
radius = float(input('write the radius of the circle: '))
pi = 3.1416
area = 2 * pi *  radius
Area = format(area, '.4f')
print('The are is: ', Area) #typo? =yes it was a typing mistake.

write the radius of the circle: 5
The are is:  31.4160

**Question 14**:

Write a program that takes a temperature in Celsius as input and prints its equivalent in Fahrenheit. Your program should:

* Take input from the user for the Celsius.
* Use the formula: Fahrenheit = (Celsius × 9/5) + 32
* Display the calculated Fahrenheit upto 4 decimal point

In [ ]:
celsius = float(input('write the temperature in celsius: '))
fahrenheit = (celsius * 9/5) + 32
Fahrenheit = format(fahrenheit, '.4f')
print('The Fahrenheit is: ', Fahrenheit, '°F')
# i can't find degree button in keyboard so i copy it(°) from google.
#how i can find degree button in keyboard?

write the temperature in celsius: 36.38
The Fahrenheit is:  97.4840 °F

**Question 15**:

Write a program that takes a number of cigarettes smoked per day as input and calculates and prints the total number of cigarettes smoked in a year.

In [ ]:
  cigarettes_perday = int(input('How many cigarettes you smoked per day: '))
  cigarettes_peryear = cigarettes_perday * 365   #1 year = 365 days
  print('The total number of cigarettes smoked in a year is: ', cigarettes_peryear)

How many cigarettes you smoked per day: 5
The total number of cigarettes smoked in a year is:  1825

**Question 16**:

Write a program that takes a person's height in feet as input and calculates and prints their height in meters

In [ ]:
height_feet = float(input('What is your height in feet: '))
height_meters = height_feet * 0.3048   #1 feet = 0.3048 meters
print('Your height in meters is: ', height_meters, "m")

What is your height in feet: 5.11
Your height in meters is:  1.5575280000000002 m

#A9. Introduction of Operations, if, elif, else



```


***comparison operators***
==
!=
>
<
>=
<=

***logical operators***
and
or
not

***bitwise operators***
&
|
^

***membership operators***
in
not in

identity
is
is not

***assignment operators***
=
+=
-=
*=
/=
%=
//=
**=
&=
|=
^=
>>=
<<=


***how and use***

T and t = T
T and f = f
f and t = f
f and f = f

***how or work***

T or t = T
T or f = T
f or t = T
f or f = f

***how not work***
not T = F
not f = T

intentation (mark as a space)
If you use If else function you should use indentation/ space in 2nd line



```

In [ ]:
              # basic strcuture of if

# if condition:
#   print()     ----must need to add space or tab----
# else:
#   print()     ----must need to add space or tab----

#A10.CSE100_Lab Practice problem_Prog2_Conditional_Statements

**Problem 01**

Consider two numbers a and b. Now write a program to compute if a to the power b (a^b) is even or odd.

In [ ]:
a = float(input('Enter the 1st number:  '))
b = float(input('Enter the 1st number:  '))
if (a**b)%2 == 0 :
  print('The number is Even')
else:
  print('the number is ODD')

Enter the 1st number:  2
Enter the 1st number:  2
The number is Even

**Problem 02**

Write a program which takes three 4 digits numbers as inputs and the program prints the maximum number of those numbers as output.

**Sample Input:**
```
Enter 1st number: 1285
Enter 2nd number: 8381
Enter 3rd number: 5713
```
**Sample Output:**
```
The maximum number of them is 8381

In [ ]:
num1 = float(input('enter the first number: '))
num2 = float(input('enter the secound number: '))
num3 = float(input('enter the third number: '))

if num1 > num2 and num1 > num3 :
  print('The maximum number of them is first number. the number is ',num1)
elif num2 > num1 and num2 > num3 :
  print('The maximum number of them is secound number. the number is ',num2)
else :
  print ('The maximum number of them is third number. the number is ',num3)

enter the first number: 2
enter the secound number: 2
enter the third number: 2
The maximum number of them is third number. the number is  2.0

 **Problem 03**

Write a Python program which takes a number as input and check if the number is positive, negative or zero.

**Sample Input:**
```console
Enter a number: 5
```
**Sample Output:**
```console
5 is a positive number
```

In [ ]:
num = float(input('Enter a number: '))

if num < 0 :
  print('The number is Negative.')
elif num > 0 :
  print('The number is positive')
else :
  print('The number is zero')

Enter a number: 0
The number is zero

**Problem 04**

Write a Python program to take a character as input and check if the character is a vowel or consonant.

**Sample Input:**
```console
Enter a character: a
```
**Sample Output:**
```console
'a' is a vowel
```

In [ ]:
#to show ASCII code of any Charecter
# print(ord('a'))
# print(ord('A'))

char = input('Enter a Character: ')
char = char.upper()     #it will uper case all the charecter.
if char == 'A'or char == 'E'or char == 'I'or char == 'O'or char == 'U' :
  print (f'{char} is vowel')
else :
  print(f'{char} is consonant')

Enter a Character: u
U is vowel

**Problem 05**

For this problem, you will need to take two integers `a`, `b` and a caracter `c` to represent an operation. The caracter can be +, -, *, / or % (for modulus). You will need to perform the operation on a and b and print the result. If the operation is not one of the above, print "Invalid operation".

**Sample Input:**
```console
Enter a: 5
Enter b: 2
Enter operation: +
```

**Sample Output:**
```console
Result: 7
```

In [ ]:
a = int(input("Enter 1st integer number: "))
b = int(input("Enter 2nd integer number: "))
c = input("Enter the operation (+, -, *, /, %): ")
if c == '+':
  print('Result: ', a+b)
elif c == '-':
  print('Result: ', a-b)
elif c == '*':
  print('Result: ', a*b)
elif c == '/':
  print('Result: ', a/b)
elif c == '%':
  print('Result: ', a%b)
else :
  print('Invalid operation')

Enter 1st integer number: 5
Enter 2nd integer number: 5
Enter the operation (+, -, *, /, %): *
Result:  25

**Problem 06**
Read 4 integer numbers `a`, `b`, `c` and `d` from the user. Then if `b` is greater than `a` and sum of `c` and `d` is greater than `a` and `b` and if `c` and `d` are positive and `a` is even, print "Correct values", otherwise print "Wrong values".

**Sample Input:**
```console
Enter a: 5
Enter b: 6
Enter c: 7
Enter d: 8
```

**Sample Output:**
```console
Correct values
```

In [ ]:
#code

**Problem 07**

According to the Gregorian calendar, a few years are regarded as leap years. These years had 366 days rather than 365 days, and the month February had 29 days rather than 28. When the year is a multiple of 4, but not a multiple of 400, it is a leap year.

Write a program that takes a year as input and prints whether the year is a leap year or not.

Sample Input:


```
Enter a year: 2004
```


Sample Output:


```
2004 is a leap year
```

In [ ]:
#code

**Problem 08**
For this problem you need to write down a code for the grading system. Consider the grading system used in the [Ministry of Education](http://www.educationboard.gov.bd/computer/grading_system.php) website link (follow the link marked in blue color).

Now, you need to write a program that takes a number as score of a student out of 100. Then, the program should print the grade of the student.

Sample Input :
```console
Enter your score: 85
```
Sample Output:
```console
You got A+ on the subject.
```

In [ ]:
#code

**Problem 09**
A company of Bangladesh, is decided to give a salary increase to its employees, according to the following table:

| Salary | Readjustment Rate |
|:------:|:-----------------:|
| 0 - 400.00| 15% |
| 400.01 - 800.00 | 12% |
| 800.01 - 1200.00 | 10% |
| 1200.01 - 2000.00 | 7% |
| Above 2000.00 | 4% |

                               
Read the employee's salary, calculate and print the new employee's salary, as well the money earned and the increased percentage obtained by the employee, with corresponding messages, as the below example.

**Sample Input:**
```console
Enter your salary: 400
```
**Sample Output:**
```console
Previous Salary: 400
Current Salary: 460
Increment Rate: 15%
```

In [ ]:
#code

**Problem 10**
Remember the quadratic equation? $ax^2 + bx + c = 0$. There are at most two possible solutions for this equation. They may be real or imaginary. The solutions are given by the following formula:

$$x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$$

The equation may have only one root or two roots. or imaginary roots. The discriminant $b^2 - 4ac$ determines the number of roots by the following rules:

- If $b^2 - 4ac > 0$, then the equation has two real roots.
- If $b^2 - 4ac = 0$, then the equation has one real root.
- If $b^2 - 4ac < 0$, then the equation has two imaginary roots.

Write a program that takes the values of $a$, $b$, and $c$ as input and prints the roots of the equation. If the equation has no real roots, print a message: "The equation has no real roots". If real root/roots exist, print the roots in the following format:

**Sample Input 01:**
```console
Enter a: 1
Enter b: 2
Enter c: 1
```

**Sample Output 01:**
```console
The equation has one real root: -1.0
```

**Sample Input 02:**
```console
Enter a: 8
Enter b: -4
Enter c: -2
```

**Sample Output 02:**
```console
The equation has two real roots: 0.81 and -0.31
```

**Sample Input 03:**
```console
Enter a: 1
Enter b: 2
Enter c: 3
```

**Sample Output 03:**
```console
The equation has no real roots
```

In [ ]:
#code

#A11.Prog2_Conditional_Statements_Lecture

**Practice 01**

In [ ]:

x = 15
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")
else:
    print("No output")


# Can you think and find the output without running the code?



#output:
#  Above ten
#  but not above 20

Above ten,
but not above 20.

**Practice 02**

In [ ]:
n=89

if n < 0:
    print("Negative")
elif n == 0:
    print("Zero")
elif n < 10:
    print("Single Digit")
else:
    print("Multiple Digits")

# Can you think and find the output without running the code?

#output:
#Multiple Digits

Multiple Digits

**Practice Problem 1**

Write a program that takes a number as input and prints whether it is odd or even.

In [ ]:
num = int(input('Enter a number: '))
if num%2 == 0 :
  print('The number is Even')
else:
  print('the number is Odd')

Enter a number: 5
the number is Odd

**Practice Problem 2**

Write a program that takes a number as input and prints whether it is positive, negative, or zero.

In [ ]:
num = float(input('Enter a number: '))
if num > 0 :
  print('The number is positive')
elif num < 0 :
  print('The number is negative')
else :
  print('The number is zero')

Enter a number: 0
The number is zero

**Practice Problem 3**

Write a program that takes a number as input and prints if the number is a multiple of 5 or not.

In [ ]:
#I did not understand the Question so I did it two way.

#method_01 (If I consider the "multtiple" word mean as how many 5 have in input number the code will be like this.)

num = int(input("Enter a number: "))
if num % 5 == 0 and num != 0 :
  if num / 5 == 1 :
    print('No, The number is single of 5')
  else:
    print('Yes, The number is multiple of 5')
else:
  print('ERROR, please input the number which can be divided by 5')

Enter a number: 0
ERROR, please input the number which can be divided by 5

In [ ]:
#Method_02 (If I consider the question mean if somthing divided by 5 or not the code will be like this.)

number = int(input("Enter a number: "))
if number % 5 == 0:
    print("Yes, it is a multiple of 5.")
else:
    print("No, it is not a multiple of 5.")

    #This one is correct

Enter a number: 5
Yes, it is a multiple of 5.

**Practice Problem 4**

Write a program that takes two numbers, num and check. If check divides evenly into num,
print a message stating that. If not, print a different appropriate message.

In [ ]:
num = int(input("Enter the number (num): "))
check = int(input("Enter the divisor (check): "))
if num % check == 0:
    print(f"Yes, {check} divides evenly into {num}.")
else:
    print(f"No, {check} does not divide evenly into {num}.")

Enter the number (num): 15
Enter the divisor (check): 5
Yes, 5 divides evenly into 15.

#A12.Conditional Statement Practice Problems

**Practice Problem 01**

Following are the grading system in IUB

90 - 100 = A

85 - 89 = A-

80 - 84 = B+

75 - 79 = B

70 - 74 = B-

65 - 69 = C+

60 - 64 = C

55 - 59 = C-

50 - 54 = D+

45 - 49 = D

0 - 44 = F

Now write a program that will take a number as input and show the output in the format of "Your Grade is X"

In [ ]:
#Method_01
score = float(input("Enter your score: "))
if 90 <= score <= 100:
    grade = "A"
elif 85 <= score <= 89:
    grade = "A-"
elif 80 <= score <= 84:
    grade = "B+"
elif 75 <= score <= 79:
    grade = "B"
elif 70 <= score <= 74:
    grade = "B-"
elif 65 <= score <= 69:
    grade = "C+"
elif 60 <= score <= 64:
    grade = "C"
elif 55 <= score <= 59:
    grade = "C-"
elif 50 <= score <= 54:
    grade = "D+"
elif 45 <= score <= 49:
    grade = "D"
elif 0 <= score <= 44:
    grade = "F"
else:
    grade = "Invalid score"
print(f"Your Grade is {grade}")

# Do we need to check for the upper bound in each condition?
# Also, don't use the complex condition like a<=X<=b. rather use a<=X and X<=b

Enter your score: 87
Your Grade is A-

In [ ]:
#Method_02
score = float(input("Enter your score: "))
if score >= 90 and score <= 100:
    grade = "A"
elif score >= 85 and score <= 89:
    grade = "A-"
elif score >= 80 and score <= 84:
    grade = "B+"
elif score >= 75 and score <= 79:
    grade = "B"
elif score >= 70 and score <= 74:
    grade = "B-"
elif score >= 65 and score <= 69:
    grade = "C+"
elif score >= 60 and score <= 64:
    grade = "C"
elif score >= 55 and score <= 59:
    grade = "C-"
elif score >= 50 and score <= 54:
    grade = "D+"
elif score >= 45 and score <= 49:
    grade = "D"
elif score >= 0 and score <= 44:
    grade = "F"
else:
    grade = "Invalid score"
print(f"Your Grade is {grade}")


#This is perfect. But do we need to check for the upper bound in each condition?

Enter your score: 56
Your Grade is C-

In [ ]:
#Method-3
x = float(input('Enter the number: '))
if x>=90 and x <= 100 :
  print("A")

Enter the number: 1

**Practice Problem 02**

Write a program that will take a year as input and output whether it's a leap year or not.

Check online for the definition of leap year

In [ ]:
#We can consider a year as a leap year if the year full fill any of these conditions
#condition_1 : if the year divided by 400
#condition_2 : if the year divided by 4 but not divided by 100

#code
year = int(input('Enter the year to check leap year: '))
if year % 400 == 0 :
  print(f'{year} is a leap year')
elif year % 4 == 0 and year % 100 != 0 :
  print(f'{year} is a leap year')
else :
  print(f'{year} is not a leap year')

Enter the year to check leap year: 2004
2004 is a leap year

**Practice Problem 03**

Write a program that will take a character as input and output the type of it.

Consider we have three caegories here -> Alphabet, Numbers and special characters

In [ ]:
#method-01
char = input('Enter only a single character: ')

if char.isalpha():     #it will check the charecter is alphabet or not
  if len(char) == 1 :    #If the character is only single word then It will alow to go next line otherwise
    print(f'The Character "{char}" is an alphabet')
    print('And the character class is: ')
  else :                #If the character is multiple word then it will give user a error
    print('ERROR, Please enter a single character only.')

elif char.isdigit():  #it will check the charecter is alphabet or not
  print(f'The character "{char}" is a number')

else:
  print(f'The character "{char}" is a special character')

  # We are not suppose to use isalpha or isdigit functions. can you find a way to solve this problems using the idea of ASCII table?

Enter only a single character: #
The character "#" is a special character

In [ ]:
#Method-2
char = input('Enter only a single character: ')
ascii_value = ord(char)
if (65 <= ascii_value and ascii_value <= 90) or (97 <= ascii_value and ascii_value <= 122):
  print(f'The Character "{char}" is an alphabet')
elif 48 <= ascii_value and ascii_value <= 57:
  print(f'The character "{char}" is a number')
else:
  print(f'The character "{char}" is a special character')

Enter only a single character: #
The character "#" is a special character

**Practice Problem 04**

Write a program that will take a number as input and perform the following operations:

If the number is even, add 37

If the number is odd and divisible by 5, divide it by 5

If the number is odd and can be divided by 3, multiply it with 3

for all other numbers, subtract 15 and then make it half

Output the number you've got after the above mentioned operations

In [ ]:
num = int(input('Enter a number: '))
if num % 2 == 0 :
  print('the number is: ', num + 37)
elif num % 2 == 1 and num % 5 == 0 :
  print('the number is: ', num / 5)
elif num % 2 == 1 and num % 3 == 0 :
  print('the number is: ', num * 3)
else :
  print('the number is: ', (num - 15) / 2)

# Check the steps. What is asked in each step? Do we need to print there?

Enter a number: 11
the number is:  -2.0

#A13. while loop basic

while loop structure
count = 0:
while count < 5 :
  print ('hello world')
  count = count + 1

Line by line code decode

count                  Condition            print
0                          T                  hello world
1                          T                  hello world
2                          T                  hello world
3                          T                  hello world
4                          T                  hello world
5                          F

print 1 to 10 by using while loop

In [ ]:
count = 1
while count <= 10 :
  print(count)
  count = count + 1

1
2
3
4
5
6
7
8
9
10

#A14.while Loop Practice problem

Practice 01

Write a program which will take an integer “n” as input and print the first “n” integers

In [ ]:
# n is a variable will take input
# create a itaretor i and start with 1                          #itaretor is a variable which travel in a loop
# start : 1                                                     #itaretion is a proccess of traveling in a loop
# increment / decrement : n += 1                                #iterable objects are Lists, tuples, dictionaries, and sets are all
# stop : i <= n

n = int(input('Enter  an Integer: '))
i = 1
while i <= n :
  print(i)
  i +=1

Enter  an Integer: 5
1
2
3
4
5

Practice 02

Write a program which will take an integer “n” as input and print the first “n” even numbers in separate lines

In [ ]:
#method_01 (by if rules)

#start: 0     (0 is also a even Number.)
#increment / decrement: i = i + 1
#stop: i <= n

n = int(input('Enter an Integer: '))
i = 0
while i <= n:
  if i % 2 == 0:
    print(i)
  i = i + 1

  # if n is 10, should not you print 10 numbers in total?

Enter an Integer: 10
0
2
4
6
8
10

In [ ]:
#method_02 (simple rule)

#start: 2
#increment / decrement: i += 2
#stop : i <= n*2

n = int(input('Enter an enteger: '))
i = 2
while i <= n*2 :
  print(i)
  i += 2

Enter an enteger: 10
2
4
6
8
10
12
14
16
18
20

Practice 03

Write a program which will take an integer “n” as input and print the first “n” odd numbers in a separate lines

In [ ]:
#method_01 (by if rules)

#start: 1
#increment / decrement: i = i + 1
#stop: i <= n

n = int(input('Enter an Integer: '))
i = 1
while i <= n:
  if i % 2 != 0:
    print(i)
  i = i + 1

  # if the n is 10, we should print 10 numbers right?

Enter an Integer: 10
1
3
5
7
9

In [ ]:
#method_02 (simple rule)

#start: 1
#increment / decrement: i += 2
#stop : i <= n*2

n = int(input('Enter an enteger: '))
i = 1
while i <= n*2 :
  print(i)
  i += 2

Enter an enteger: 10
1
3
5
7
9
11
13
15
17
19

Practice 04

Write a program which will take an integer “n” as input and print the first “n” even numbers in separate lines in reverse order

In [ ]:
#method-01 (by if rules)

#n is a variable which will take input from user
#i is another variable for counting
#store the value of n into i variable
#start: n (first even number lower or equal of n)
#increment / decrement: n -=  1
#stop: i >= 0

n = int(input('Enter an integer: '))
i = n
while i >= 0:
  if i % 2 == 0:
    print(i)
  i -= 1

    # if the n is 10, we should print 10 numbers right?

Enter an integer: 10
10
8
6
4
2
0

In [ ]:
#method-02

#start: n (even)
#increment / decrement: n -= 2
#stop: i >= 0

n = int (input('Enter an integer number: '))
i = n
if i % 2 == 0:
  while i >= 0:
    print(i)
    i -= 2
else:
  i -= 1
  while i >= 0:
    print(i)
    i -= 2

      # if the n is 10, we should print 10 numbers right?

Enter an integer number: 11
10
8
6
4
2
0

Practice 05

Write a program which will take a string as input and print it

In [ ]:
x = input('Enter a charecter: ')
print(f'your Charecter is: {x}')

Enter a charecter: sms
your Charecter is: sms

Practice 06

Write a program which will take a string as input and print all the characters in separate lines

In [ ]:
n = input('Enter a string: ')
i = 0
while i < len(n):
  print(n[i])
  i += 1

Enter a string: morsalin
m
o
r
s
a
l
i
n

Practice 07

Write down a function which will take a string as input and print the characters in reverse order

In [ ]:
n = input('Enter a string: ')
lenth = len(n)
i = lenth - 1
while i >= 0 :
  print(n[i])
  i -= 1

Enter a string: morsalin
n
i
l
a
s
r
o
m

Practice 08

Write a program which will first take an integer “n” as input and then take “n” number of integers input and print them sequentially.

In [ ]:
x = int(input('Enter an Integer: '))
n= int(input('How many number you want to print: '))
i = 1
while i <= n :
  print (x)
  x += 1
  i += 1

  # You need to take N numbers as input and print those sequentially

Enter an Integer: 3
How many number you want to print: 4
3
4
5
6

Practice 09

Write a program which will take an integer “n” as input and print a series of “n” numbers as following in separate lines:
3 6 9 12 15 18…………………..

In [ ]:
#method_01 (if the starting point sequentially from these  value 3, 6, 9, 12, 15, 18 ... )

#start: the starting value will be closest upper value of input number which is devidable by 3 (n%3)
#increment / decrement: +3 of input number  (y += 3)
#stop: i <= n

n = int(input('Enter an integer: '))
if n % 3 == 2:
  y = 1 + n
elif n % 3 == 1:
  y = 2 + n
else:
  y = n

i = 1
while i <= n:
  print(y)
  i += 1
  y += 3

  # Can we initiate y as 3 without having the if-elif part?
  # Also, why it starts printing with 6?

Enter an integer: 4
6
9
12
15

In [ ]:
#method_02 (if start from input number and inrement everytime +3)

#start: n
#increment: n + 3
#stop: i <= n

n = int(input('Enter an integer: '))
i = 1
max = n
while i <= max:
  print(n)
  n += 3
  i += 1

Enter an integer: 3
3
6
9

Practice 10

 Write a program which will take an integer “n” as input and print a series of “n” numbers as following in separate lines:
 1x2 2x3 3x4 ................nx(n+1)

In [ ]:
#method_01 (if we start from n and print 'n'th numbers)
n = int(input('Enter an integer: '))
max = n
ind = 1
while  ind <= max:
  z = ind*n
  print(f'{ind} * {n} = {z}')
  ind += 1
  n += 1

  # Why 1*4? check the pattern
  # You don't need to calculate the values, just printing the sequence is enough

Enter an integer: 4
1 * 4 = 4
2 * 5 = 10
3 * 6 = 18
4 * 7 = 28

In [ ]:
#method_02 (if we start from 1 and print 'n'th numbers)
n = int(input('Enter an integer: '))
i = 1
while i <= n:
  final = i * (i + 1)
  print(f'{i} * {i + 1} = {final}')
  i += 1
  #  You don't need to calculate the values, just printing the sequence is enough

Enter an integer: 5
1 * 2 = 2
2 * 3 = 6
3 * 4 = 12
4 * 5 = 20
5 * 6 = 30

Practice 11

Write a program which will take an integer “n” as input and print a series of “n” numbers as following in separate lines:
1x1 2x4 3x9 4x16………………

In [ ]:
#start: i * (i**i)
#increment: i += 1
#stop: i <= n

n = int(input('Enter an Integer: '))
i = 1
while i<= n:
  cal = i * (i*i)
  print(f'{i} * {i*i} = {cal}')
  i += 1

#  You don't need to calculate the values, just printing the sequence is enough

Enter an Integer: 4
1 * 1 = 1
2 * 4 = 8
3 * 9 = 27
4 * 16 = 64

#A15. Shortcut key

In [ ]:
  #alt + d to select same word and select them
  #alt + (select by coursor ) select multiple word
  #alt + shift + down arrow copy same line to under
  #select + alt + down arrow / up arrow
  #Delete the current line: Ctrl + Shift+ K
  #Select current line: Ctrl + L
  #Select current word: Ctrl + D
  #Move line: Alt + Up/Down
  #Indent/outdent line: Ctrl + ([/])
  #Select all occurrences of a variable: Ctrl + D && Alt + Enter
  #Automatic import: Ctrl + I
  #Search files by name: Ctrl + P
  #Finding references to a function: Alt + Shift + F12
  #Move up and down in the file: Ctrl + Up/Down
  #Open find in workspace: Ctrl + Shift + F
  #Open the terminal pane: Ctrl + `
  #Open a new terminal in the terminal pane: Ctrl + Shift + 5
  #Open a folder in a new instance: Ctrl + Shift + N && Ctrl + K && Ctrl + O
  #Close tab: Ctrl + W
  #Change text size: Ctrl + (+/-)
  #Find in file: Ctrl + F

#A16. for loop basic

In [ ]:
#for loop basic

#formula_01
for i in range (stop):


#formula_02
for i in range (start, stop):


#formula_03
for i in range (start, stop, step):

input n

output:
2
4
6
.
.
.
n

In [ ]:
n = int(input('Enter an Integer: '))
for count in range (n-1):
  count += 2
  if count % 2 == 0:
    print (count)

Enter an Integer: 11
2
4
6
8
10

#A17.loop practice (for loop and while loop both)

Practice 01

Write a program which will take an integer “n” as input and print the first “n” integers

In [ ]:
#while loop

#star: 1
#stop: n
#step: +1

n = int(input( 'Enter a positive integer number: '))
i = 1
while i <= n :
  print(i)
  i += 1

Enter a positive integer number: 5
1
2
3
4
5

In [ ]:
#for loop

#Method_01 (start, stop, step)
#start: 1
#stop: n+1
#step: +1
n = int(input('Enter a positive integer number: '))
for count in range (1, n+1, 1):
  print(count)

print('\n Method_02 .....................................')

#method_02 (start, stop)
#start: 1
#stop: n+1
#step: +1 (default)
for count in range (1, n+1) :
  print(count)

print('\n Method_03 .....................................')

#method_03 (stop)
#start: 0 (default)
#stop: n+1
#step: +1 (default)
for count in range (n+1):
  if count == 0:
    continue          #skip 0 (learn from w3school)
  else:
    print(count)

Enter a positive integer number: 3
1
2
3

 Method_02 .....................................
1
2
3

 Method_03 .....................................
1
2
3

Practice 02

Write a program which will take an integer “n” as input and print the first “n” even numbers in separate lines

In [ ]:
#while loop

#start: 2
#stop: i <= n*2 (after printing 'n'th line)
#step: +2

n = int(input('Enter an Integer number: '))
max = n*2
i = 2
while i <= max :
  print(i)
  i += 2

Enter an Integer number: 10
2
4
6
8
10
12
14
16
18
20

In [ ]:
#for loop

#method_01 (start, stop, step)
#start: 2
#stop: n*2+1
#step: +2
n = int(input('Enter an integer: '))
for i in range (2, n*2+1, +2):
  print(i)

print('\n Method_02 .....................................')

#method_02 (start, stop)
#start: 2
#stop: n*2+1
#step: +1 (default)
for i in range (2, n*2+1):
  if i%2 == 0:          #this allow to print only even number
    print(i)

print('\n Method_03 .....................................')

#method_03 (stop)
#start: 0 (default)
#stop: n*2+1
#step: +1 (default)
for i in range (n*2+1):
  if i%2 == 0:
    if i == 0 or i == 1:     #0 and 1 is not even number so we skip
      continue               #skip
    print(i)

Enter an integer: 5
2
4
6
8
10

 Method_02 .....................................
2
4
6
8
10

 Method_03 .....................................
2
4
6
8
10

Practice 03

Write a program which will take an integer “n” as input and print the first “n” odd numbers in a separate lines

In [ ]:
#while loop

#start: 1
#stop: n*2    (stop after printing 'n'th line)
#step: +2

n = int(input('Enter an Integer number: '))
i = 1
while i <= n*2 :
  print(i)
  i += 2

Enter an Integer number: 3
1
3
5

In [ ]:
#for loop

#method_01 (start, stop, step)
#start: 1
#stop: n*2+1
#step: +2
n = int(input('Enter an integer: '))
for i in range (1, n*2+1, +2):
  print(i)

print('\n Method_02 .....................................')

#method_02 (start, stop)
#start: 1
#stop: n*2+1
#step: +1 (default)
for i in range (1, n*2+1):
  if i%2 == 1:          #only odd number will be print
    print(i)

print('\n Method_03 .....................................')

#method_03 (stop)
#start: 0 (default)
#stop: n*2+1
#step: +1 (default)
for i in range (n*2+1):
  if i%2 != 0:        #only odd
    if i == 0:        # 0 is not odd number so we skip 0
      continue
    print(i)

Enter an integer: 5
1
3
5
7
9

 Method_02 .....................................
1
3
5
7
9

 Method_03 .....................................
1
3
5
7
9

Practice 04

Write a program which will take an integer “n” as input and print the first “n” even numbers in separate lines in reverse order

In [ ]:
#while loop

#start: n (if even)
#stop: 2
#step: -2

n = int (input('Enter an integer: '))
i = n        #I did it because i don't want to change the data of n variable.
while i >= 2 :
  if n%2 == 0:
    print(i)
  i -= 2
  elif i%2 == 1:

Enter an integer: 66
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [ ]:
#for loop

#method_01 (start, stop, step)
#start: 1
#stop: n+1
#step: +2

In [ ]:
l1 = [1, 2, 3]
l2 = l1
print(l1, l2)
l2.append(4)
print(l1, l2)

[1, 2, 3] [1, 2, 3]
[1, 2, 3, 4] [1, 2, 3, 4]

In [ ]:
x = [5, 3, 6]
x.sort()
print(x)

[3, 5, 6]