<a href="https://colab.research.google.com/github/smsmorsalin/python/blob/main/Basic2_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#01. Conditional statement

**Problem_01**:

You would like to go to the university. It's a rainy season. So, before going out .. You are checking whether it is raining or not. If it's raining you will take an umbrella before leaving for the university.

In [ ]:
check = input("Is it raining ? Yes or No: ")
if check == "Yes" or check == "yes":
  print("take an umbrella")

print("and go to university")

**problem_02**:

Let's consider you are paying monthly salary to your employee. Your employees monthly salary is 15000 bdt. There is a overtime bonus on top of the montly sallary and it is calcuated on the overtime hours. If your employee works more than 10hour extra then you will pay 10% extra on the monthly salary.

Write a python program to calucate the salary for the employee.

In [ ]:
base_salary = 15000
extra_hours = int(input("Enter the extra hours emplyee works: "))
if extra_hours >= 10:
  salary = base_salary + (base_salary * .1)
else:
  salary = base_salary

print(f"The Total salary is: {salary}")

In [ ]:
fruits = ['apple', 'pineapple', 'banana']

numbers = list(range(1,101,1))

for i in range(0,len(fruits),2):
    print(fruits[i], end =' ')

**Problem_03:**

Let's consider you have a fashion house. For Eid, you are providing discount to the customers based on the purchase amount. Your policy is as follows, if a customer purchase over 50k then she will get 22% discount.

if the purchase amount is above 50k then 22% discount.
if the purchase amount is between 40k and 49999 then she will get 20% discount.
if the purchase amount is between 25k and 39999 then she will get 10% discount.
Otherwise, there is no discount.
Write a python program that will perform the followings:

Take the purchage amount as input from the user (either, integer or float)
Using conditional statement calculate the disount amount (as per above policy) and the payable amount.
Print the discount amount and payable amount.

In [ ]:
amount = int(input("Enter your purchase amount: "))
if amount >= 50000:
  discount = amount * .22
elif amount >= 40000 and amount <= 49999:
  discount = amount * .2
elif amount >= 25000 and amount <= 39000:
  discount = amount * .1
else:
  discount = 0

payable_amount = amount - discount
print(f"your total price : {amount}")
print(f"discount price: {discount}")
print(f"your total payable amount: {payable_amount}")

**problem_04:**

The Govt. of Bangladesh decided to pay student allowance as per the age category. You are requested to write a python program to help Goverment to pay the allowance as per the following rule.

Your program will take the student age as input (integer).
Student between the age 15 and 29 will get the allowance. Student above 29 are not elegable.
Student between age group 15 and 20 will get 2500 bdt per month.
Student between age group 21 and 23 will get 2000 bdt per month.
Student between age group 24 and 29 will get 1500 bdt per month.
Sample Input/output:

Enter your age: 16

You will get 2500 bdt / month from the Govt. of Bangladesh

Enter your age: 30

Sorry, You are not elegible for the allowence.

In [ ]:
age = int(input('Enter your age(15-29):'))
print(age)

if age >= 15 and age <=29:
  print('You are elegible for allowance.')
  if  age >=15 and age <= 20:
    print('you will get 2500 bdt.')
  elif age >=21 and age <= 23:
    print('you will get 2000 bdt.')
 # elif age >=24 and age <= 29:
  else:
    print('you will get 1500 bdt.')

else:
  print('You are not elegible for the allowance.')

**problem_05:**

Lets say you got marks under: quiz (20), mid(30), final(50). Adding all these marks will get you a grade out of
100. The letter grades are standard one in IUB.

However, you can earn bonus marks based on your performance as follows,
if you get quiz marks btn 15 and 17, 1 marks bonus.
if you get mid marks btn 22 and 27, 2 marks bonus.
if you get final marks btn 45 and 47, 1.5 marks bonus.

Calculate total achieved marks cnsidering the bonus. If
there is a fractional total then round it up.
If the total exceeds 100 it will be rounded down to 100.
Then calculate the achieved grade based on the mark.

**Problem_06**

Let's consider you are paying monthly salary to your employee. If your employee worked overtime, you would pay 5% extra on their usual salary. Otherwise, they will get their usual salary.

In [ ]:
salary = int(input('Enter your salary: '))
overtime = input('do you work extra time? yes or no')
overtime = overtime.lower()
if overtime == 'yes':
  print(f'congrats! your salary is: {salary+(salary*0.05)}')
elif overtime =='no':
  print(f'no extra pay on their slary. your salary is: {salary} ')

#02. Exception in conditional statement


we can print if else like this>>>

```
**value_if_true if condition else value_if_false**

```

**exception_01:**

print a number even or odd like this way: **value_if_true if condition else value_if_false**

In [ ]:
number = 6
print('Even' if number % 2 == 0 else 'odd')

**execption_02**

In [ ]:
if (0.1 + 0.2 == 0.3):
  print('true')          #condition satisfied here.. but
else:
  print('false')         #output false... why ?

#04. Loop

**problem_01:**

Print the text "I love Python" 5 Times.

What is your solution???

In [ ]:
n = 5
while n > 0 :
  print("I love Python")
  n -= 1

I love Python
I love Python
I love Python
I love Python
I love Python

**Problem_02:**

Write a program in Python to display the first 10 natural numbers.

In [ ]:
n = 0
while n < 10:
  if n == 9:
    print(9)
    break
  print(n,end=",")
  n +=1

0,1,2,3,4,5,6,7,8,9

**Problem_03:**

Write a Python program to find the sum of first 10 natural numbers

In [ ]:
n = 1
sum = 0
while n <= 10:
  sum = sum + n
  n += 1
print(f"the total sum of the first 10 natural numbers: {sum}")

the total sum of the first 10 natural numbers: 55

**problem_03:**

Write a Python program to find the sum of first 5 natural numbers.

Print the result in following format: 0 + 1 + 2 + 3 + 4 + = 11

In [ ]:
n = 0
sum = 0
while n < 5 :
  sum += n
  if n == 4:
    print(n,end="=")
    break
  print(n, end="+")

  n += 1
print(sum)

0+1+2+3+4=10

**problem_04:**

 Write a Python program to find the sum of series 1+3+5+7..+N.

In [ ]:
n = int(input('enter a number: '))
sum = 0
i = 1
while i <= n:
  sum += i
  if i == n or i == n-1:
    print(i, end='=')
    break
  print(i,end="+")
  i += 2
print(sum)

enter a number: 10
1+3+5+7+9=25

**problem_05:**

Write a Python Program to find the sum of series 1^2+2^2+3^2...+N^2.

In [ ]:
n = int(input("Enter end number: "))
i = 1
sum = 0
while i <= n:
  sum = sum + (i**2)
  if i == n:
    print(f'{i}^2',end="=")
    break
  print(f'{i}^2',end='+')
  i += 1
print(sum)

Enter end number: 11
1^2+2^2+3^2+4^2+5^2+6^2+7^2+8^2+9^2+10^2+11^2=506

**Problem_06:**

Write a Python program to display the n terms of odd natural number and their sum.

Sample Output:

Enter end number: 10

1 + 3 + 5 + 7 + 9 + = 25

In [ ]:
n = int(input('Enter end number: '))
i =1
sum = 0
while i <= n:
  sum = sum + i
  if i == n or i == n-1:
    print(i,end="=")
    break
  print(i,end='+')
  i += 2
print(sum)

Enter end number: 10
1+3+5+7+9=25

**problem_07:**

Write a Python program to calculate the factorial of a given number.

In [ ]:
n = int(input('Enter a value: '))
i = 1
result = 1
while i <=n :
  result *= i
  i += 1
print(result)

Enter a value: 9
362880

**problem_08:**

Write a Python Program to read the CGPAs of 5 students and print the sum of the CGPAs and average CGPA.

**problem_09:**

Write a Python Program to read the CGPAs of 5 students and print the max CGPA, average CGPA.

**problem_10:**

Write a Python eprogram to display the cub of the number upto given an integer.

**problem_11:**

Write a Python program to display the multiplication table of a given integer.

Sample input output:

Number for Multiplication: 6

How many rows: 7

Multiplication table for 6 upto 7 rows:

6 X 1 = 1

6 X 2 = 12

6 X 3 = 18

6 X 4 = 24

6 X 5 = 30

6 X 6 = 36

6 X 7 = 42

**problem_12:**

 Get a sentence as input from the user. Print only the first vowel and its location that you find from this sentence.

In [ ]:
sen = input("Enter a sentence: ")
i = 0
while i <= len(sen):
  if sen[i]=='a' or sen[i]=='e' or sen[i]=='o'or sen[i]=='i' or sen[i]=='u':
    print(sen[i],'and the location is: ', i)
    break
  i += 1

Enter a sentence: morsalin
o and the location is:  1

#05. nested loop

**Problem_01:**

Write a python program using loop to print a square box of * for a given number
```
Enter a number: 4

* * * *

* * * *

* * * *

* * * *

```

In [ ]:
n = int(input('Enter a number: '))
i = 1
while i <= n:
  j =1
  while j <= n:
    print('*', end=" ")
    j+=1
  print()
  i+=1

Enter a number: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

**Problem_02:**

Write a python program using loop to print a square box of numbers (as shown below) for a given digit

```
Enter a number: 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5
```

In [ ]:
n = int(input('Enter a number: '))
i = 1
while i <= n:
  j = 1
  while j<=n:
    print(j,end=" ")
    j+=1
  print()
  i+=1

Enter a number: 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

**Problem_03:**

Write a python program using loop to print a square box of numbers (as shown below) for a given digit


```
Enter a number: 4

1 1 1 1

2 2 2 2

3 3 3 3

4 4 4 4
```

In [ ]:
n = int(input('Inter a number: '))
i = 1
while i <= n:
  j = 1
  while j<=n:
    print(i, end=' ')
    j+=1
  print()
  i+=1

Inter a number: 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

problem_04:
Write a python program using loop to print the triangle of * for a given number of rows.


```
How many rows: 4

*

* *

* * *

* * * *

```

In [ ]:
n = int(input('How many rows: '))
i = 1
while i <= n:
  j = 1
  while j <= i:
    print('*', end=' ')
    j+=1
  print()
  i+=1

How many rows: 5
*
* *
* * *
* * * *
* * * * *

Problem_04:

Write a python program using loop to print the triangle of numbers (as shown below) for a given number of rows.

How many rows: 4

1

2 2

3 3 3

4 4 4 4

Problem_05:

Write a python program using loop to print the triangle of numbers (as shown below) for a given number of rows.

How many rows: 5

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

problem_06:
Write a python program using loop to print the reverse triangle of numbers (as shown below) for a given number of rows.

How many rows: 5

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [ ]:
n = int(input('How may rows: '))
i = n
while i > 0:
  j=1
  while i >= j:
    print(j, end=' ')
    j += 1
  print()
  i -=1

How may rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

problem_07: Take n as input and print the pyramid shape of *

Example of output


```
Enter how many rows will be in the pyramid: 5
    *
   * *
  * * *
 * * * *
* * * * *
```

In [ ]:
#method_01 (using while loop)
n = int(input('Enter how many rows will be in the pyramid: '))
i = 1
while i <= n:
  j = 1
  while j <= n-i:
    print(' ',end="")
    j+=1
  k = 1
  while k <= i:
    print('*',end=' ')
    k+=1
  print()
  i+=1

Enter how many rows will be in the pyramid: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#method_02 (using for loop)
n = int(input('Enter the number of line of the pyramid: '))
for i in range(n):
  for j in range(n-i):
    print('',end=' ')
  for k in range(i):
    print('*',end=' ')
  print()

Enter the number of line of the pyramid: 10

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

problem_08: The inverted pyramid is a flipped version of the centered pyramid.



```
*********
 *******
  *****
   ***
    *

```

In [ ]:
#method_01: (using while loop)
n = int(input('Enter the line numbers: '))
i = 1
while i <= n:
  j = 1
  while j<i:
    print('',end=' ')
    j+=1
  k=1
  while k<=n-i+1:
    print('*',end=' ')
    k+=1
  print()
  i+=1

Enter the line numbers: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#method_02: (using for loop)
n = int(input('Enter the line numbers: '))
for i in range(n):
  for j in range(i):
    print('',end=' ')
  for k in range(n-i):
    print('*',end=' ')
  print()

Enter the line numbers: 5
* * * * *
 * * * *
  * * *
   * *
    *

problem_09: Pyramid with Numbers
```
    1
   121
  12321
 1234321
123454321
```

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(n-i):
    print('',end=' ')
  for k in range(1,i+1):
    print(k,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

problem_10: inverse pyramid with numbers


```
12345
 1234
  123
   12
    1

```

In [ ]:
n = 5
for i in range(n,0,-1):
  for j in range(n-i):
    print('',end=' ')
  for k in range(1,i+1):
    print(k,end='')
  print()

12345
 1234
  123
   12
    1

problem_11: Full Diamond Pyramid


```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

poroblem_12: Hollow Pyramid

A hollow pyramid has stars only on the boundary, and the inner part is empty.


```
    *
   * *
  *   *
 *     *
*********
```

#06. Function

print():

Purpose: Outputs text or other data to the console.

Example: print("Hello, world!")

---
len():

Purpose: Returns the length of an object (e.g., string, list, tuple).

Example: len("Python") returns 6.

---
type():

Purpose: Returns the data type of an object.

Example: type(10) returns <class 'int'>.

---
range():

Purpose: Generates a sequence of numbers.

Example: for i in range(5): print(i) prints 0, 1, 2, 3, 4.

---
input():

Purpose: Reads input from the user.

Example: name = input("Enter your name: ")

Q. different between peramiter and argument?

**Exercise: 1**

Write two functions named printInfo() and purchaseList().

First function will have two required arguments name and customerID.

Second function will have three required arguments product1Price, product2Price, product3Price.

Pass these functions values. First function will print the given data and second function will calculate the total price. Then print all the prices and total price.

In [ ]:
def printInfo(name, customerID):
  print('Name is: ',name)
  print('Customer ID is: ',customerID)

def purchaseList(p1price, p2price, p3price):
  total_price = p1price+p2price+p3price
  print(f'product 1 price: {p1price}\nproduct 2 price: {p2price}\nproduct 3 price: {p3price}')
  print('The total price is: ',total_price)

name = "S. M. S. "
Id = 2411872
p1p = 10
p2p= 20
p3p= 30
printInfo(name, Id)
purchaseList(p1p,p2p,p3p)

Name is:  S. M. S.
Customer ID is:  2411872
product 1 price: 10
product 2 price: 20
product 3 price: 30
The total price is:  60

**Exercise: 2**


What would be the output of the following program? will there be any error? If yes, why?

In [ ]:
def getInformation():
  id = int(input('ID: '))
  cgpa = float(input('CGPA: '))
  return cgpa

def calculateGrade(stID, stCGPA):
  print('Student id: ', stID)
  print('Stdent CGPA: ', stCGPA)
  if stCGPA > 3.5:
    print('Student Grade: Distinction')
  else:
    print('No distinction')

stInfo = getInformation()
calculateGrade(stInfo[0],stInfo[1])

ID: 1234
CGPA: 3.5

TypeError: 'float' object is not subscriptable

In [ ]:
# write the correct code

In [ ]:
#Write down a python code to count how many digits of a number need to be summed before  the sum exceeds 10.
n= int(input())
conver = str(n)
for i in conver:
  print(int(i))

100
1
0
0

**Exercise: 03**

Write a function called takeInput() which has no parameters.

This funciton will take the numbers as input from the user.

Then it will call the subtraction() function to subtrac the numbers as before and print the result.

In [ ]:
def subtraction(n1, n2):
  res = n1-n2
  return res
def takeinput():
  n1 = int(input())
  n2 = int(input())
  c = subtraction(n1, n2)
  print('the result is: ',c)
print(takeinput())

5
4
the result is:  1
None

**exercice: 04**

Write a simple program that has the following functionalities.

Write a function called addition() that will take two integer parameters as input. Add the two numbers and return the result.

Write a function called multiplication() that will take two integer parameters as input. Multiply the two numbers and return the result.

Write a function called takeInput() that takes no parameter. This function does the follwoings -

a. It will take two numbers as input from the user and return the values.

b. It will take the choise of operation (e.g., addition or multiplication) as input form the user and return the choice.

Now call the takeInput() function to take two numbers and choise of operation as input.

now based on the choise call the appropriate function to perform the operation and get the result.

Finally, print the two input values and the result.

In [ ]:
def addition(num1, num2):
  add = num1 + num2
  return add
def multiplication(num1, num2):
  mp = num1 * num2
  return mp
def takeinput():
  n1 = float(input('Enter a number: '))
  n2 = float(input('Enter another number: '))
  choose = input('Enter A for addition and M for multiplication: ').strip().lower()
  if choose == 'a':
    print(addition(n1, n2))
  elif choose == 'm':
    print(multiplication(n1, n2))
  else:
    print('You choose without A and M')
takeinput()

Enter a number: 2
Enter another number: 3
Enter A for addition and M for multiplication:     A
a
5.0

**Exercice: 05:**

Write a function called subtraction() that will take two integer parameters as input. Subtract the smaller number from the larger one and return the result.

Write a function called division() that will take two integer parameters as input. Divide the larger number by the smaller one and return the result.

Modify the takeInput() function so that it can have the choice input for Subtraction and Division operation (S and D respectively).

Modify the conditional function call code so that approriate function is called based on the choice.

In [ ]:
def subtraction(n1, n2):
  if n1 >= n2:
    sub=(n1 - n2)
  else:
    sub =(n2 - n1)
  return sub
def division(n1, n2):
  if n1 >= n2:
    div = n1/n2
  else:
    div = n2/n1
  return div
def takeinput():
  while True:
    n1 = input('Enter a number: ')
    n2 = input('Enter another number: ')
    choose = input("enter a choose 'S' for Subtraction or Enter 'D' for Division: ").strip().lower()
    n1 = float(n1)
    n2 = float(n2)
    return [n1, n2, choose]
    break


getinput = takeinput()
if getinput[2] == 's':
  res = subtraction(getinput[0], getinput[1])
  print(f'{getinput[0]}-{getinput[1]}=={res}')
elif getinput[2] == 'd':
  res = division(getinput[0], getinput[1])
  print(f'{getinput[0]}/{getinput[1]}=={res}')
else:
  print('You enter a wrong choose')

Enter a number: 3
Enter another number: 2
enter a choose 'S' for Subtraction or Enter 'D' for Division: s
3.0-2.0==1.0

**Exercice: 06**

Your code should go here...
Consder that you have a function that calculates and pays interest on a given deposit amount, and the minimum interest rate is .5% for any amount in the bank.
This function will take account balance, interest rate and customer id as parameters, then calculate the interest.
Then prints the principal amount, interest amount, total payable and customer id.

In [ ]:
def calculate_and_pay_interest(account_balance, interest_rate, customer_id):
    # Ensure minimum interest rate is 0.5%
    if interest_rate < 0.5:
        interest_rate = 0.5

    # Calculate the interest amount
    interest_amount = (account_balance * interest_rate) / 100

    # Calculate the total payable (principal + interest)
    total_payable = account_balance + interest_amount

    # Print the results
    print(f"Customer ID: {customer_id}")
    print(f"Principal Amount: ${account_balance:.2f}")
    print(f"Interest Amount: ${interest_amount:.2f}")
    print(f"Total Payable: ${total_payable:.2f}")

# Example usage of the function
account_balance = float(input("Enter account balance: $"))
interest_rate = float(input("Enter interest rate (as percentage): "))
customer_id = input("Enter customer ID: ")

# Call the function to calculate interest and print details
calculate_and_pay_interest(account_balance, interest_rate, customer_id)

Enter account balance: $100
Enter interest rate (as percentage): 0.3
Enter customer ID: 2411
Customer ID: 2411
Principal Amount: $100.00
Interest Amount: $0.50
Total Payable: $100.50

#07. 2D List

**BASIC  OF   2D    LIST ..............**

In [ ]:
numbers = [1,2,345,678, 500]

# Creating a two-dimensional list (3x3 matrix)
matrix = [
    [1, 2, 3, 100],
    [4, 5, 6],
    [7, 8],
    [99,999,9999]
]

print(matrix)

# Accessing elements in the matrix
print(matrix[0][0])  # Prints the element at row 0, column 0 (1)
print(matrix[1][2])  # Prints the element at row 1, column 2 (6)
print(matrix[3][2])

# Modifying elements in the matrix
#matrix[1][1] = 10  # Changes the element at row 1, column 1 to 10
matrix[1][0] = 10
print(matrix)

matrix[2].append(150)
print(matrix)

# Iterating through the matrix
for row in matrix:
   for element in row:
        print(element, end=' ')
   print()

[[1, 2, 3, 100], [4, 5, 6], [7, 8], [99, 999, 9999]]
1
6
9999
[[1, 2, 3, 100], [10, 5, 6], [7, 8], [99, 999, 9999]]
[[1, 2, 3, 100], [10, 5, 6], [7, 8, 150], [99, 999, 9999]]
1 2 3 100
10 5 6
7 8 150
99 999 9999

In [ ]:
# Create an emply list
bookList = list()
print(bookList)

#get book name, quantity and price for creating a book entry
aBook = ['The Last Journey', 10, 5000]

#add the book in the booklist
bookList.append(aBook)
print(bookList)

# add three more books in the book list
aBook = ['Mind Your Own Business', 5, 15000]
bookList.append(aBook)

aBook = ['Travelling the World in 100 Days', 15, 25000]
bookList.append(aBook)

aBook = ['Get Me In the Team', 12, 10000]
bookList.append(aBook)

# print the booklist
print(bookList)

# print the name of all books (use loop)
for abook in bookList:
  print(abook[0])

i = 0
while i < len(bookList):
  print(bookList[i][0])
  i += 1

#print the quantity and total price of all the books
for abook in bookList:
  print('Qty: ', abook[1], 'Price: ', abook[2])

#print unit price for the book 'Get Me In the Team'
for abook in bookList:
  if abook[0] == 'Get Me In the Team':
    unit_price = abook[2] / abook[1]
    print('Unit price will be: ', unit_price)

#print the book name with the longest title
longest = len(bookList[0][0])
name = bookList[0][0]
for abook in bookList:
  if len(abook[0]) > longest:
    longest = len(abook[0])
    name = abook[0]

print('longest book name: ', name)


#print all information for the book (name, quantity and price) having highest unit price

[]
[['The Last Journey', 10, 5000]]
[['The Last Journey', 10, 5000], ['Mind Your Own Business', 5, 15000], ['Travelling the World in 100 Days', 15, 25000], ['Get Me In the Team', 12, 10000]]
The Last Journey
Mind Your Own Business
Travelling the World in 100 Days
Get Me In the Team
The Last Journey
Mind Your Own Business
Travelling the World in 100 Days
Get Me In the Team
Qty:  10 Price:  5000
Qty:  5 Price:  15000
Qty:  15 Price:  25000
Qty:  12 Price:  10000
Unit price will be:  833.3333333333334
longest book name:  Travelling the World in 100 Days

In [ ]:
# Creating a two-dimensional list (3x3 matrix)
matrix = [
    [1, 2, 3],
    [4, 5, 6,7],
    [7, 8, 9],
    [17, 8, 19, 27, 54],
]

# Print first value from list 1, first 2 values from list 2 and 3 values from list 3.. and continue this process to print a pyramid.

1,
4, 5,
7, 8, 9,
17, 8, 19, 27,

Example: Using a two diemtional list store the name, id and CGPA of five students and then print each student data in python

Name: John, ID: 101, CGPA: 3.8
Name: Jane, ID: 102, CGPA: 3.7
Name: Alice, ID: 105, CGPA: 3.9
Name: Bob, ID: 104, CGPA: 3.5
Name: Eva, ID: 100, CGPA: 3.6

Exercise: Using above student list print the highest course code (use loop)

Exercise: Using above student list find and print the lowest and highest CGPA along with the student names (use loop)

Exercise2: Take input from user for 6 products using loop.

Each product should have the following information:

Product name (e.g., laptop, pencil, book ..)
Product category (e.g., electronics, stationary, reading .. )
Product unit price (price for each product)
Units available.
Then insert each product detail in the productList

print the inforamtion of the most expensive product based on unit price from the product list (use loop for solution)

**Exercise5: Sell 2 laptops from your product list. Do the followings,**


1.   prompt user asking what product and in what quantity they want to buy.
2.   using the user input, check whether the product is available or not (check the quantity). print appropriate message (e.g., product available / not available) based on the checking.
3.   if the product is available then calucate the total price and show it to the user.
4.   update the product list after selling the prouct with specified quantity and then print the updated productlist. Note: if there is zero product left after selling, then the product should be removed from the productList.

#**08. 2D List Problem**

**Problem_01:**

How do you access an element in a 2D list?

Example: Accessing an element at a specific row and column.

In [ ]:
two_list = [[1, 2, 3],
 [4,5,6],
  [7,8,9]]

two_list[0][2]

3

**Problem_02:**

How do you iterate over the elements of a 2D list (row by row or column by column)?

In [ ]:
matrix = [[1, 2, 3],
 [4,5,6],
  [7,8,9],
  [10,11,12]]

for i in matrix:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9
10
11
12

**Problem_03**

How can you add a new row or a new column to a 2D list?

In [ ]:
matrix = [[1, 2, 3],
 [4,5,6],
  [7,8,9],
  [10,11,12]]

#method_01
matrix.append([13,14,15])
print(matrix)

#method_o2 (by loop):

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]]

**Problem_03**

How do you find the number of rows and columns in a 2D list?

In [ ]:
matrix = [[1, 2, 3],
 [4,5,6],
  [7,8,9],
  [10,11,12]]

#method_01:
row = len(matrix)
colum = len(matrix[0])
print(f'the number of rows: {row}\nthe number of columns: {colum}')

#method_02:
count = 0
for i in matrix:
  count += 1
print('rows by loop',count)
count = 0
for j in matrix[0]:
  count+=1
print('columns by loop',count)

the number of rows: 4
the number of columns: 3
rows by loop 4
columns by loop 3

**Problem_04:**

How do you transpose a 2D list (swap rows and columns)?

**Problem_05:**

How would you search for an element in a 2D list?

In [ ]:
def search(matrix, target):
  for row in matrix:
    if target in row:
      return True
  return False
matrix = [[1, 2, 3],
 [4, 5, 6],
  [7,8,9],
  [10,11,12]]
search(matrix, 13)

False

**Problem_06:**

How do you sort a row or column in a 2D list?

In [ ]:
matrix = [[2, 3, 1],
 [6, 4,6],
  [7,9, 8],
  [11,12,10]]
for x in matrix:
  x.sort()
print(matrix)

[[1, 2, 3], [4, 6, 6], [7, 8, 9], [10, 11, 12]]

**problem_07:**

How do you check if a 2D list contains a specific element?

sum of 1 row:  6
sum of 2 row:  6
sum of 1 row:  16
sum of 2 row:  16
sum of 1 row:  24
sum of 2 row:  24

**Problem_08:**

How would you calculate the sum of all the elements in a 2D list?

In [ ]:
matrix= [
    [1,2],
    [1,2,3],
    [1,2,3,4]
]
def sum(matrix):
  sum = 0
  for row in matrix:
    for column in row:
      sum += column
  return sum
sum(matrix)

19

**Problem_09:**

How do you calculate the sum of each row or column in a 2D list?

In [ ]:
#for row
matrix = [[2, 3, 1],
 [6, 4,6],
  [7,9, 8]]
def check(n):
    for i in n:
      sum = 0
      for k in i:
        sum += k
      print(f'sum of {matrix.index(i)+1} row: ', sum)
check(matrix)

sum of 1 row:  6
sum of 2 row:  16
sum of 3 row:  24

In [ ]:
#for column

SyntaxError: invalid syntax (<ipython-input-5-7ed2836aa441>, line 8)

**Problem_10:**

How do you find the maximum or minimum value in a 2D list?

In [ ]:
#max but wrong it check sum of the list
matrix=[
    [1,9],
    [7,8]
]
b = max(matrix)
print(b)
c = max(b)
print(c)

[7, 8]
8

In [ ]:
#righ way_01 :
def maxi(n):
  b = 0
  for i in n:
    for j in i :
      if j >= b :
        b = j
  return b
matrix =[
    [1,5,7],
    [6,2,9],
    [0,3,1]
]
maxi(matrix)

9

In [ ]:
#right way_02:
max_value = max(max(row) for row in matrix)

print(f"The maximum value is: {max_value}")

The maximum value is: 9

Problem_11:

How would you multiply two 2D lists (matrices)?

**Problem_12:**

Transpose a Matrix: Convert the given m  n matrix into an n  m matrix.

**Problem_12:**

Matrix Multiplication: Multiply two matrices if the number of columns in the first equals the number of rows in the second.

PRoblem_13:

Rotate a Matrix (90 Degrees): Rotate a square matrix by 90 degrees clockwise or counterclockwise.

Problem_14:

Spiral Traversal: Print elements of a matrix in a spiral order.

Problem_15:

Zigzag Traversal: Traverse a matrix in a zigzag pattern, starting from the top-left, moving right, then down diagonally left, and repeating the pattern.

Problem_16:

Matrix Border Traversal: Print only the boundary elements of a given m  n matrix.

PRoblem_17:

Find Saddle Point: A saddle point is an element that is the minimum in its row and maximum in its column. Find all such elements.

Problem_18:

Count Negative Numbers in a Sorted Matrix: Given a matrix where rows and columns are sorted in non-increasing order, count the number of negative numbers efficiently.

Problem_19:

Maximum Sum Submatrix (Kadanes 2D Algorithm): Find the submatrix with the maximum sum efficiently.

Problem_20:

Find the Kth Smallest Element in a Sorted Matrix: Given an n  n sorted matrix, find the kth smallest element efficiently.

PRoblem_21:

Valid Matrix Path with Constraints: Given a matrix where 0 represents walls and 1 represents open paths, determine if there exists a valid path from (0,0) to (m-1,n-1).

Problem_22:

Matrix Reduction to Zero: Given a matrix of non-negative integers, find the minimum number of row or column operations needed to reduce the entire matrix to zero.

#09. sets

Problem_1:

Create a Set: How do you create a set in Python? and check type

In [ ]:
#method_1:
s = {2, 4, 5, 6, 2}
print('method_1:  ', s)
print(type(s))

#method_2:
s2 = set()
s2.add(2)
print('method_2:   ', s2)
print(type(s2))


#method_3:
s3 = {}      #if we declar a sets in this way it become dict
print(s3, type(s3))

#so if we want to declar a empty sets we should declar this way
s4 = set()
print(s4, type(s4))

method_1:   {2, 4, 5, 6}
<class 'set'>
method_2:    {2}
<class 'set'>
{} <class 'dict'>
set() <class 'set'>

Problem_2:

Add an Element: How do you add an element to a set?

In [ ]:
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

Problem_3:

Remove an Element: What methods can you use to remove an element from a set?

In [ ]:
s = {1,2,3,4,5}
s.remove(2)
print('using remove:  ',s)

s.discard(2)  #it won't give any error if the number 2 was missing
print('using discard:   ', s)

s.pop()
print('using pop:   ',s)

s.clear()
print('using clear  ',s)

using remove:   {1, 3, 4, 5}
using discard:    {1, 3, 4, 5}
using pop:    {3, 4, 5}
using clear   set()

![image.png]()

Problem_4:

Check if an Element Exists: How do you check if an element is present in a set?

In [ ]:
s = {1,2,3,4,5}
print(3 in s)
print(6 in s)

True
False

Problem_5:

Length of a Set: How do you find the number of elements in a set?

In [ ]:
s = {1,2,2,2,5}
print(len(s))

3

PRoblem_6:

Convert List to Set: How do you convert a list into a set?

In [ ]:
l = [1,2,2,3,3,4]
s = set(l)
print(s)

{1, 2, 3, 4}

Problem_7:

Convert Set to List: How do you convert a set into a list?

In [ ]:
s = {1,2,2,3,3,4}
l = list(s)
print(l)

# The elements in the set will be converted to a list, but the order of elements is not guaranteed because sets are unordered.
# The resulting list will contain unique elements from the set.

[1, 2, 3, 4]

PRoblem_8:

Iterate Over a Set: How can you iterate over the elements of a set?

Problem_9:

Union of Two Sets: How do you find the union of two sets?

Problem_10:

Intersection of Two Sets: How do you find the intersection of two sets?

Problem_11:

Difference Between Two Sets: How do you find the difference between two sets?

Problem_12:

Symmetric Difference: What is the symmetric difference of two sets, and how do you find it?

Problem_13:

Subset Check: How do you check if one set is a subset of another?

Problem_14:

Superset Check: How do you check if one set is a superset of another?

Problem_15:

Disjoint Sets: How do you check if two sets have no common elements?

PRoblem_16:

Clear a Set: How do you remove all elements from a set?

Problem_17:

Frozen Sets: What is a frozen set, and how is it different from a regular set?

PRoblem_18:

Find Common Elements in Multiple Sets: How do you find the common elements in multiple sets?

Problem_19:

Remove Duplicates Using Sets: How do you use sets to remove duplicates from a list?

Problem_20:

Merge Multiple Sets: How do you merge multiple sets into a single set?

PRoblem_21:

Find Unique Elements Across Multiple Sets: How do you find elements that are unique across multiple sets?

Problem_22:

Find the Difference Between Multiple Sets: How do you find the difference between more than two sets?

Problem_23:

Sort a Set: How can you sort a set in Python?

Problem_24:

Find Common Letters in Two Words: How do you find common letters between two words using sets?

Problem_25:

Find Missing Numbers in a Range: How do you find missing numbers in a sequence using sets?

Problem_26:

Check if a List Has Duplicates: How do you check if a list contains duplicate values using sets?

#10. Tuples

Problem_1:

Create a Tuple: How do you create a tuple in Python?

Problem_2:

Access Tuple Elements: How do you access elements of a tuple?

PRoblem_3:

Tuple Indexing: How do you retrieve an element using positive and negative indexing?

Problem_4:

Tuple Slicing: How do you extract a subset of a tuple?

Problem_5:

Length of a Tuple: How do you find the number of elements in a tuple?

PRoblem_6:

Iterate Over a Tuple: How do you iterate over elements in a tuple?

Problem_7:

Check if an Element Exists in a Tuple: How do you check for membership in a tuple?

Problem_8:

Count Occurrences of an Element: How do you count occurrences of an element in a tuple?

Problem_9:

Find Index of an Element: How do you find the index of an element in a tuple?

Problem_10:

Convert a List to a Tuple: How do you convert a list into a tuple?

PRoblem_11:

Convert a Tuple to a List: How do you convert a tuple into a list?

PRoblem_12:

Tuple Concatenation: How do you join two or more tuples?

PRoblem_13:

Tuple Repetition: How do you repeat a tuple multiple times?

Problem_14:

Tuple Unpacking: What is tuple unpacking, and how does it work?

Problem_15:

Swapping Values Using Tuples: How can tuples be used to swap two values?

PRoblem_16:

Multiple Return Values from a Function Using Tuples: How do functions return multiple values using tuples?

PRoblem_17:

Nested Tuples: How do you access elements in a nested tuple?

PRoblem_18:

Find Maximum and Minimum in a Tuple: How do you find the largest and smallest elements in a tuple?

PRoblem_19:

Modify a Tuple (Workaround): Since tuples are immutable, how can you modify them indirectly?

Problem_20:

Sort a Tuple: How do you sort a tuple?

Problem_21:

Sort a Tuple of Tuples: How do you sort a list of tuples based on a specific index?

PRoblem_22:

Reverse a Tuple: How do you reverse the elements of a tuple?

PRoblem_23:

Find Common Elements in Two Tuples: How do you find common elements between two tuples?

Problem_24:

Find Unique Elements Across Multiple Tuples: How do you find unique elements from multiple tuples?

Merge Multiple Tuples into One: How do you combine multiple tuples into a single tuple?

Filter Elements in a Tuple Using a Condition: How do you filter elements of a tuple based on a condition?

Problem_25:

Convert a Tuple of Strings to a Single String: How do you join elements of a tuple into a single string?

PRoblem_26:

Flatten a Nested Tuple: How do you convert a nested tuple into a flat tuple?

Problem_27:

Convert a Tuple of Tuples to a Dictionary: How can you convert ((key1, value1), (key2, value2)) into a dictionary?

PRoblem_28:

Find the Sum of Elements in a Tuple: How do you calculate the sum of numeric elements in a tuple?

Problem_29:

Check if a Tuple Contains Only Numeric Values: How do you check if all elements in a tuple are numbers?

Problem_30:

Find the Index of the First Occurrence of an Element: How do you get the index of an element in a tuple?

PRoblem_31:

Count Even and Odd Numbers in a Tuple: How do you count the number of even and odd numbers in a tuple?

Problem_32:

Check if Two Tuples are Identical: How do you compare two tuples for equality?

#11. Dictonary

PRoblem_1:

Create a Dictionary: How do you create a dictionary in Python? and check type

In [ ]:
dictonary = {'a': 1,
             'b': 2,
             'c': 3}
#or
d = dict()

print(dictonary, 'type of the DICT: ', type(dictonary))
print(d, 'type of the DICT: ', type(d))

{'a': 1, 'b': 2, 'c': 3} type of the DICT:  <class 'dict'>
{} type of the DICT:  <class 'dict'>

PRoblem_2:

Access Dictionary Values: How do you access a value in a dictionary using a key?

In [ ]:
d = {'a': 1,
     'b': 2,
     'c': 3}

#manually
print('manually value print using key: ',d['a'])

#using bult in function
print('using bult in function: ',d.get('a'))

#using loop (value access by key)
print('Value access by key using loop: ',end=' ')
for key in d:
  print( d[key], end=' ')
print()

#using loop direct value access
print('direct value access: ', end=' ')
for value in d.values():
  print(value, end=' ')
print()

#both key and value access by loop
print('both key and value access by loop: ')
for key, value in d.items():
  print(key, value)
print()

#by using try or exception
try:
  print(d['d'])
except:
  print('key not found')

manually value print using key:  1
using bult in function:  1
Value access by key using loop:  1 2 3
direct value access:  1 2 3
both key and value access by loop:
a 1
b 2
c 3

key not found

Problem_3:

Add a Key-Value Pair to a Dictionary: How do you add a new key-value pair to a dictionary?

In [ ]:
d = {'a': 1,
     'b': 2,
     'c': 3}

#direct formula
d['d'] = 4
print(d)

#Using update()
d.update({'e': 5})
print(d)

Problem_4:

Update an Existing Keys Value: How do you modify the value associated with a key?

In [ ]:
d = {'a': 1,
     'b': 1,
     'c': 2}

#method_01
d['a'] = 0
print('method_01: ', d)

#method_02
d.update({'a': 1})
print('Method_02: ',d)


#method_03 (check before update exist or not)
if 'a' in d:
  d['a'] = 0
  print('method_03: ', d)
else:
  print("'a' is not exist")

method_01:  {'a': 0, 'b': 1, 'c': 2}
Method_02:  {'a': 1, 'b': 1, 'c': 2}
method_03:  {'a': 0, 'b': 1, 'c': 2}

PRoblem_5:

Check if a Key Exists in a Dictionary: How do you check if a specific key exists in a dictionary?

In [ ]:
d = {'a': 1,
     'b': 1,
     'c': 2}

#Method_01:
n = input('Enter the key you want to search: ')
if n in d:
  print(f"{n} exist")
else:
  print('Not Exist')

Enter the key you want to search: a
a exist

PRoblem_6:

Delete a Key-Value Pair from a Dictionary: How do you remove a key from a dictionary?

In [ ]:
d = {'a': 1,
     'b': 1,
     'c': 2}
def delete_key(d, n):
  try:
    d.pop(n)
    return d
  except:
    return 'cant find'
def take_input():
  n = input('Which key you want to delete: ').lower()
  return n
print(delete_key(d, take_input()))

Which key you want to delete: A
{'b': 1, 'c': 2}

In [ ]:
#method_02
d = {'a': 1,
     'b': 1,
     'c': 2}
del d['a']
print(d)

{'b': 1, 'c': 2}

PRoblem_7:

Clear a Dictionary: How do you remove all elements from a dictionary?

In [ ]:
d = {'a': 1,
     'b': 1,
     'c': 2}

d.clear()
print(d)

{}

Problem_8:

Get Dictionary Keys, Values, and Items: How do you extract keys, values, and key-value pairs separately?

In [ ]:
# method_01:
d = {'a': 1,
     'b': 1,
     'c': 2}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 1, 2])
dict_items([('a', 1), ('b', 1), ('c', 2)])

In [ ]:
#method_02:
d = {'a': 1,
     'b': 1,
     'c': 2}

#keys
print('all keys: ',end=' ')
for key, value in d.items():
  print(key, end=' ')
print()

#value
print('all value: ',end=' ')
for key, value in d.items():
  print(value, end=' ')
print()

#pair
print('all pair: ',end=' ')
for key, value in d.items():
  print(f"{key}:{value}", end=' ')
print()

all keys:  a b c
all value:  1 1 2
all pair:  a:1 b:1 c:2

PRoblem_9:

Find the Length of a Dictionary: How do you find the number of key-value pairs in a dictionary?

In [ ]:
#method_02:
d = {'a': 1,
     'b': 1,
     'c': 2}
print(len(d))

3

PRoblem_10:

Iterate Over a Dictionary: How do you loop through keys, values, and items in a dictionary?

In [ ]:
d = {'a': 1,
     'b': 1,
     'c': 2}
#key
print('key: ', end=' ')
for key, value in d.items():
  print(key, end=' ')
print()

#value
print('value: ', end=' ')
for key, value in d.items():
  print(value, end=' ')
print()

#items
print('ltems: ', end=' ')
for key, value in d.items():
  print(f'{key}:{value}', end=' ')
print()

key:  a b c
value:  1 1 2
ltems:  a:1 b:1 c:2

Problem_11:

Merge Two Dictionaries: How do you combine two dictionaries into one?

Copy a Dictionary: How do you create a shallow or deep copy of a dictionary?

In [ ]:
d1 = {'a': 1,
     'b': 1,
     'c': 2}

d2 = {'d': 3,
      'e': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

problem_12:

Set a Default Value for a Key: What does the setdefault() method do?

PRoblem_13:

Retrieve a Value with Default Fallback: How does the get() method work?

Pop an Element from a Dictionary: How does the pop() method work?

Pop the Last Inserted Item: What does the popitem() method do?

PRoblem_14:

Convert Two Lists into a Dictionary: How do you create a dictionary from two lists (one as keys, one as values)

Problem_15:

Create a Dictionary with Default Values: How do you initialize a dictionary with default values for all keys?**bold text**

Problem_16:

Find the Key for a Given Value: How do you find a key given a specific value?

prOBLEM_17:

Reverse a Dictionary (Swap Keys and Values): How do you reverse the keys and values in a dictionary?

PRoblem_18:

Sort a Dictionary by Keys or Values: How do you sort a dictionary based on keys or values?

Problem_19:

Nested Dictionary Operations: How do you access and modify elements in a nested dictionary?

problem_20:

Convert a Dictionary to a List of Tuples: How do you transform a dictionary into a list of key-value tuples?

PRoblem_21:

Convert a List of Tuples to a Dictionary: How do you transform a list of key-value tuples into a dictionary?

Problem_22:

Find the Maximum and Minimum Value in a Dictionary: How do you find the highest and lowest values in a dictionary?

Problem_23:

Count Frequency of Elements in a List Using a Dictionary: How do you count occurrences of items in a list using a dictionary?

Problem_24:

Filter a Dictionary Based on a Condition: How do you filter a dictionary to keep only certain key-value pairs?

Problem_25:

Dictionary Comprehension: What is dictionary comprehension, and how is it used?

Problem_26:

Check if Two Dictionaries Are Equal: How do you compare two dictionaries for equality?

Problem_27:

Check if a Dictionary is Empty: How do you check whether a dictionary is empty?

PRoblem_28:

Group Elements in a List Using a Dictionary: How do you group list elements based on a common property?

Problem_29:

Invert a Dictionary Mapping: How do you handle cases where multiple keys have the same value while reversing a dictionary?

PRoblem_30:

Find the Most Frequent Value in a Dictionary: How do you find the most occurring value in a dictionary?

Problem_31:

Count Word Frequency in a Sentence: How do you use a dictionary to count word occurrences in a given text?

Problem_32:

Create a Dictionary from a String (Letter Frequency): How do you count the frequency of each letter in a string?

Problem_33:

Create a Dictionary of Squared Numbers: How do you generate a dictionary where keys are numbers and values are their squares?

PRoblem_34:

Find Common Keys Between Two Dictionaries: How do you find keys that are common in two dictionaries?

Problem_35:

Find Keys Present in One Dictionary but Not in Another: How do you get the difference in keys between two dictionaries?

PRoblem_36:

Check if a Dictionary is a Subset of Another Dictionary: How do you check if one dictionary is completely contained within another?

PRoblem_37;

Use DefaultDict for Missing Keys: What is collections.defaultdict, and how does it work?



```
Why Are Dictionary Lookups Faster Than Lists?: What makes dictionary lookups faster than searching in lists?

Time Complexity of Dictionary Operations: What is the time complexity of common dictionary operations like get(), set(), and del()?

Memory Usage of Dictionaries vs Lists: How does the memory consumption of a dictionary compare to that of a list?

Optimize Large Dictionary Operations: What techniques can be used to efficiently process large dictionaries?

Use Case of OrderedDict: What is collections.OrderedDict, and how is it different from a regular dictionary?

Use Case of ChainMap: What is collections.ChainMap, and when should you use it?

Use Case of Counter: How does collections.Counter help in dictionary-based counting operations?

Find the Most Common Element Using Counter: How do you find the most frequent element in a dataset using Counter?
```

#12. Recursion

problem: 1

Print numbers from 1 to n

In [ ]:
def printme(n):
  if n >= 1 :
    printme(n-1)
    print(n)

printme(10)

1
2
3
4
5
6
7
8
9
10

problem: 2

Print numbers from n to 1 (reverse order)

In [ ]:
def printme(n):
  if n == 0:
    return
  print(n)
  printme(n-1)
printme(5)

5
4
3
2
1

problem: 3

Sum of first n natural numbers

In [ ]:
def sum(n):
  if n < 1:
    return n
  return n + sum(n-1)
print(sum(10))

55

problem: 4

Factorial of a number

In [ ]:
def takeinput():
  n = int(input('Enter the value you want to check factorial: '))
  return n
def factorial(n):
  if n < 0:
    return "input the positive value\n"
  if n == 0:
    return 1
  return n * factorial(n-1)

print(factorial(takeinput()))

Enter the value you want to check factorial: 5
120

nth Fibonacci number (recursive)

In [ ]:
def fibonacci(n):
  i = 0
  j = 1
  while i <= n:
    if i == 0 and j==1:
      print(i,j, end=' ')
    else:
      j+=i
      print(i, j , end=' ' )
    i += 1
fibonacci(5)

0 1 1 2 2 4 3 7 4 11 5 16

Power of a number (a^b)

Count digits of a number

Sum of digits

Reverse a number

Check if a string is a palindrome recursively

Reverse a string recursively ("hello"  "olleh")

Count occurrences of a character in a string

Replace all 'pi' in a string with '3.14' recursively

Remove all occurrences of 'x' from a string

Check if an array is sorted

Find first/last index of a target in array

Recursively print all elements of an array

Recursively find the max in a list

Print all subsets of a string (powerset)

Print all subsequences of a string

Generate all permutations of a string

Generate all combinations of balanced parentheses (n pairs)

Subsets of a list (power set)

Subset sum to a target

Rat in a maze

N-Queens problem

Word search in 2D grid

Sudoku solver

Palindrome partitioning

Restore IP addresses from string of digits

Preorder, Inorder, Postorder traversal

Count total nodes

Count leaf nodes

Find height of binary tree

Check if two trees are identical

Check if a tree is symmetric

Diameter of a binary tree

Lowest Common Ancestor (LCA)

Path sum in binary tree

Construct binary tree from inorder + preorder

Fibonacci with memoization (using @lru_cache or dict)

Climbing stairs (n steps, 1 or 2 steps at a time)

0/1 Knapsack recursively

Coin change problem

Longest common subsequence (LCS)

Longest palindromic subsequence

Subset sum problem

Edit distance between two strings

Decode ways ("123"  "ABC", "LC")

Minimum number of coins to reach amount

Tower of Hanoi

GCD using recursion

Josephus problem

Count number of ways to make change

Recursive multiplication without using *

Count number of paths in a grid (from top-left to bottom-right)

Solve N digit numbers with given sum

Count number of ways to climb stairs with n steps and k possible jumps

Generate all anagrams of a string (accounting for duplicates)

Flatten nested list ([1, [2, [3, 4]]]  [1, 2, 3, 4])

Recursively parse arithmetic expression string ("2*(3+(4-1))")

Recursively evaluate boolean expression tree

Generate all binary strings of length n without consecutive 1s

Gray code generation

Implement your own map, filter, or reduce recursively

Simulate a simple filesystem using recursion (tree-like structure)

Regex pattern matching (with * and .) using recursion

Implement quicksort/mergesort recursively

 Solve TSP using recursion and bitmask (if you're feeling brave )